<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
	<title>Error 400.</title>
</head>

<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		<div th:replace="fragments :: header"></div>	
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1>Error 400.</h1>
					<p>Si usted está viendo esto, es porque está ingresando una URL incorrecta.</p>
					<p>Si cree que esto se debe a un error, envíe un correo a <a href="#">contacto.zdf@gmail.com</a> explicando la situación.</p>
					
				</div>
			</div>
		</div>
		<div th:replace="fragments :: footer"></div>			
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>
</html>