.jumbotron{
	background-color: #9b59b6;
	color: #ffffff;
	
}

#banner{
	margin-bottom: 20px;
}

.fanfiction-header, .modal-header{
	background-color: #9b59b6;
	color: #ffffff;
	padding: 15px;
}

.fanfiction-footer{
	color: #9b59b6;
	padding: 15px;
	border-color: #9b59b6;
	border-style: solid;
    border-width: 1px;
}

.fanfiction-body{
	text-align:justify;
	border-color: #9b59b6;
	border-style: solid;
    border-width: 1px;
    padding: 10px;
    color: #000000;
}
.texto-fanfiction{
	text-align:justify;	
	color: #000000;
}
.texto-fanfiction a{
	color: #9b59b6;
}
.fanfiction{
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.jumbotron a, footer a, .fanfiction-header a{
	color: yellow;
}

.fanfiction-header .btn-primary {
	color: #ffffff;
}

.contenido {
	color: #8e44ad;
	float: none; 
	margin: 0 auto;
}

.validation-message{
	background-color: #ffffff;
	color: #ff0000;
	padding: 15px;
}

.exito{
	color: #00bb21;
	background-color: #ffffff;
	padding: 15px;
	font-weight: bold;
	/*font-size: x-large;*/
}
.carousel{
	margin-bottom: 20px;
}

.btn-primary{
	background-color: #8e44ad;
	border-color: #8e44ad;
	color: #ffffff;
}
.btn-primary:hover{
	background-color: #9b59b6;
}
.btn-primary:active{
	background-color: #9b59b6;
}
.btn-default{
	background-color: #ffffff;
	border-color: #8e44ad;
	color: #8e44ad;
}

h1, h2, h3 {
	text-align:center;
	font-family: algerian,Old English Text MT,Times New Roman;
}

footer{
	background-color: #9b59b6;
	color: #ffffff;
	padding-top: 20px;
	margin-top: 20px;
}