<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Acerca de Zona de Fics</title>
</head>

<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		<div th:replace="fragments :: header"></div>	
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1>Acerca de Zona de Fics.</h1>
					<p><strong>Zona de Fics</strong> es una plataforma de Fanfictions que le permite poder publicar y comprtir sus Fanfictions,
					además de encontrar y disfrutar fanfictions de otras personas.</p>
					<p>Esta es una versión beta de la plataforma, para presentarse como proyecto de título de Martita Muñoz, 
					para optar al título de Ingeniería Civil Informática de la Universidad del Bío Bio.</p>
					<p>La principal meta de <strong>Zona de Fics</strong> es apoyar al talento emergente a través de la oportunidad 
					de publicar sus escritos en Internet, participar en una comunidad con gustos afines y poder desarrollarse a través de la 
					mejora continua gracias a la retroalimentación de dicha comunidad.</p>
					<p>Cualquier consulta, sugerencia o denuncia, favor enviar un correo a <a href="#">contacto.zdf@gmail.com</a>.</p>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: footer"></div>			
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>
</html>