<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
	<title>Zona de Fics</title>
</head>
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
	
	
		<div th:replace="fragments :: header"></div>	
		
		<div class="row">
			<div class="col-md-9">
				<div class="jumbotron">
					<h1 th:text="'¡Bienvenido '+${nombreUsuario}+'!'"></h1>
					<ul>
						<li><p>Usted se encuentra dentro de la cuenta de administrador de <strong>Zona de Fics</strong>.</p></li>
						<li><p>Usted aquí tendrá las atribuciones de:</p></li>
						<ul>
							<li><p>Eliminar fanfiction/ usuario/ comentario.</p></li>
							<li><p>Agregar una nueva Historia Original.</p></li>
						</ul>
						<li><p>Recuerde que para realizar las eliminaciones, debe actuar bajo el criterio presentado en los <a th:href="@{'/condiciones'}">Términos y condiciones.</a></p></li>
					</ul>

				</div>
				
			</div>
			<div class="col-md-3">
				<img th:src="@{/images/banner-lateral.png}" class="img-responsive" alt="Zona de Fics"/>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>

</body>
</html>