<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Búsqueda avanzada</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-9">
				<h1>Búsqueda avanzada.</h1>
				
					
				<form th:action="@{/fanfiction/resultado}" th:object="${busquedaForm}" method="POST" role="form" onsubmit="return validacion();">
					<div class="row">
						<div class="form-group col-md-6">
							<label for="titulo">Título Fanfiction: </label>
							<input type="text" id="titulo" th:field="*{titulo}" class="form-control" maxlength="45"/> 
							<label th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}" class="validation-message col-md-12"></label>
						</div>
						<div class="form-group col-md-6">
							<label for="autor">Autor: </label>
							<input type="text" id="autor" th:field="*{autor}" class="form-control" maxlength="45"/> 
							<label th:if="${#fields.hasErrors('autor')}" th:errors="*{autor}" class="validation-message col-md-12"></label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<h2>Fecha de creación.</h2>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="inicioCreacion">Inicio: </label>
									<input type="date" id="inicioCreacion" th:field="*{inicioCreacion}" class="form-control"/> 
									<label th:if="${#fields.hasErrors('inicioCreacion')}" th:errors="*{inicioCreacion}" class="validation-message col-md-12"></label>
								</div>
								<div class="form-group col-md-6">
									<label for="finCreacion">Fin: </label>
									<input type="date" id="finCreacion" th:field="*{finCreacion}" class="form-control"/> 
									<label th:if="${#fields.hasErrors('finCreacion')}" th:errors="*{finCreacion}" class="validation-message col-md-12"></label>
								</div>
							</div>
							<label class="validation-message error col-md-12" id="error-creacion">
								La fecha de creación inicial debe ser anterior a la final.</label>
						</div>
						<div class="col-md-6">
							<h2>Fecha de actualización.</h2>
							<div class="row">
								<div class="form-group col-md-6">
									<label for="inicioPublicacion">Inicio: </label>
									<input type="date" id="inicioPublicacion" th:field="*{inicioPublicacion}" class="form-control"/> 
									<label th:if="${#fields.hasErrors('inicioPublicacion')}" th:errors="*{inicioPublicacion}" class="validation-message col-md-12"></label>
								</div>
								<div class="form-group col-md-6">
									<label for="finPublicacion">Fin: </label>
									<input type="date" id="finPublicacion" th:field="*{finPublicacion}" class="form-control"/> 
									<label th:if="${#fields.hasErrors('finPublicacion')}" th:errors="*{finPublicacion}" class="validation-message col-md-12"></label>
								</div>
							</div>
							<label class="validation-message error col-md-12" id="error-publicacion">
								La fecha de actualización inicial debe ser anterior a la final.</label>
						</div>
						<label class="validation-message error col-md-6 col-md-offset-3" id="error-fecha">
							Las fechas no pueden ser posteriores a la actual.</label>
					</div>
					<div class="row">
						<div class="col-md-4">
							<h2>Comentarios.</h2>
							<div class="row">
								<div class="form-group col-md-6 col-sm-6">
									<label for="comentarioMinimo">Mínimo: </label>
									<input type="number" id="comentarioMinimo" th:field="*{comentarioMinimo}" class="form-control" min="0"/> 
									<label th:if="${#fields.hasErrors('comentarioMinimo')}" th:errors="*{comentarioMinimo}" class="validation-message col-md-12"></label>
								</div>
								<div class="form-group col-md-6 col-sm-6">
									<label for="comentarioMaximo">Máximo: </label>
									<input type="number" id="comentarioMaximo" th:field="*{comentarioMaximo}" class="form-control" min="0"/> 
									<label th:if="${#fields.hasErrors('comentarioMaximo')}" th:errors="*{comentarioMaximo}" class="validation-message col-md-12"></label>
								</div>
								<label class="validation-message error col-md-12" id="error-comentario">
									El número de comentarios mínimo debe ser inferior al máximo.</label>
							</div>
						</div>
						<div class="col-md-4">
							<h2>Capítulos.</h2>
							<div class="row">
								<div class="form-group col-md-6 col-sm-6">
									<label for="capituloMinimo">Mínimo: </label>
									<input type="number" id="capituloMinimo" th:field="*{capituloMinimo}" class="form-control" min="1"/> 
									<label th:if="${#fields.hasErrors('capituloMinimo')}" th:errors="*{capituloMinimo}" class="validation-message"></label>
								</div>
								<div class="form-group col-md-6 col-sm-6">
									<label for="capituloMaximo">Máximo: </label>
									<input type="number" id="capituloMaximo" th:field="*{capituloMaximo}" class="form-control" min="0"/> 
									<label th:if="${#fields.hasErrors('capituloMaximo')}" th:errors="*{capituloMaximo}" class="validation-message"></label>
								</div>
								<label class="validation-message error col-md-12" id="error-capitulo">
									El número de capítulos mínimo debe ser inferior al máximo.</label>
							</div>
						</div>
						<div class="col-md-4">
							<h2>Puntuación promedio.</h2>
							<div class="row">
								<div class="form-group col-md-6 col-sm-6">
								<label for="puntuacionMinimo">Mínimo: </label>
								<input type="number" id="puntuacionMinimo" th:field="*{puntuacionMinimo}" class="form-control" min="1" max="5"/> 
								<label th:if="${#fields.hasErrors('puntuacionMinimo')}" th:errors="*{puntuacionMinimo}" class="validation-message col-md-12"></label>
							</div>
							<div class="form-group col-md-6 col-sm-6">
								<label for="puntuacionMaximo">Máximo: </label>
								<input type="number" id="puntuacionMaximo" th:field="*{puntuacionMaximo}" class="form-control" min="1" max="5"/> 
								<label th:if="${#fields.hasErrors('puntuacionMaximo')}" th:errors="*{puntuacionMaximo}" class="validation-message col-md-12"></label>
							</div>
							<label class="validation-message error col-md-12" id="error-puntuacion">
								El promedio de puntuaciones mínimas debe ser inferior a la máxima.</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="genero">Género: </label>
							<select id="genero" th:field="*{genero}" class="form-control selectpicker">
								<option value="-1" selected="selected">Todos los géneros</option>
								<option th:each="type : ${generos}" 
							          th:value="${type.idGenero}" 
							          th:text="${type.nombre}"></option>
							</select>
							<label th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="validation-message col-md-12"></label>
						</div>
						<div class="form-group col-md-6">
							<label for="clasificacionParental">Clasificación parental: <span data-toggle="modal" data-target="#clasificacionParentalInfo"  class="glyphicon glyphicon-info-sign"></span></label>
							<select id="clasificacionParental" th:field="*{clasificacionParental}" class="form-control selectpicker" >
								<option value="-1" selected="selected">Todas las clasificaciones</option>
								<option th:each="type : ${clasificacionesParentales}" 
							          th:value="${type.idClasificacionParental}" 
							          th:text="${type.nombre}"></option>
							</select> 
							<label th:if="${#fields.hasErrors('clasificacionParental')}" th:errors="*{clasificacionParental}" class="validation-message col-md-12"></label>
						</div>
					</div>
					<div class="modal fade" id="clasificacionParentalInfo" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Clasificación parental.</h4>
								</div>
								<div class="modal-body">
									<dl>
										<dt>K (5+): </dt><dd>Destinado a una audiencia general de 5 años en adelante. El contenido debe estar libre de lenguaje burdo, violencia y temas adultos.</dd>
										<dt>K+ (9+): </dt><dd>Adecuado para niños más maduros, de 9 años en adelante, con poca violencia de acción sin lesiones graves. Puede contener lenguaje tosco y leve. No debe contener ningún tema para adultos.</dd>
										<dt>T (13+): </dt><dd>Adecuado para adolescentes de 13 años o más, con algo de violencia, lenguaje grosero menor y temas sugestivos menores para adultos.</dd>
										<dt>M (16+): </dt><dd>No apto para niños o adolescentes menores de 16 años con temas adultos sugestivos no explícitos, referencias a violencia o lenguaje burdo.</dd>
										<dt>MA (18+): </dt><dd>El contenido solo es adecuado para adultos maduros. Puede contener lenguaje explícito y temas para adultos.</dd>
									</dl>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="categoria">Categoría: </label>
							<select id="categoria" th:field="*{categoria}" class="form-control selectpicker">
								<option value="-1" selected="selected">Todas las categorías</option>
								<option th:each="type : ${categorias}" 
							          th:value="${type.idCategoria}" 
							          th:text="${type.nombre}"></option>
							</select>
							<label th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" class="validation-message col-md-12"></label>
						</div>
						<div class="form-group col-md-6">
							<label for="historiaOriginal">Historia original: </label>
							<select id="historiaOriginal" th:field="*{historiaOriginal}" class="form-control selectpicker" data-live-search="true">
								<option value="-1" selected="selected">Todas las historias</option>
								
							</select>
							<label th:if="${#fields.hasErrors('historiaOriginal')}" th:errors="*{historiaOriginal}" class="validation-message col-md-12"></label>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-6">
							<label for="estado">Estado: </label>
							<select id="estado" th:field="*{estado}" class="form-control selectpicker" >
								<option value="-1" selected="selected">Cualquier estado</option>
								<option value="Incompleto">Incompleto</option>
								<option value="Terminado">Terminado</option>
							</select> 
							<label th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}" class="validation-message col-md-12"></label>
						</div>
						<div class="form-group col-md-6">
							<label for="tipo">Tipo: </label>
							<select id="tipo" th:field="*{tipo}" class="form-control  selectpicker" >
								<option value="-1" selected="selected">Cualquiera</option>
								<option value="Normal">Normal</option>
								<option value="Crossover">Crossover</option>
							</select> 
							<label th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}" class="validation-message col-md-12"></label>
						</div>
					</div>
					<input type="hidden" id="atributoOrden" name="atributoOrden" value="0"/>
					<input type="hidden" id="ordenBusqueda" name="ordenBusqueda" value="0"/>
					<div class="row">
						<div class="text-muted  col-md-4 col-md-offset-4">Si usted no ingresa datos, buscará todos los fanfictions registrados.</div>
						<div class=" col-md-4 col-md-offset-4">
							<button type="submit" class="form-group btn btn-primary" >Buscar</button>
							<span th:if="${nombreUsuario}"><a th:href="@{/user/home}" class="form-group btn btn-default">Volver</a></span>
							<span th:unless="${nombreUsuario}"><a th:href="@{/}" class="form-group btn btn-default">Volver</a></span>
						</div>
					</div>								
				</form>
					
						
			</div>
			<div class="col-md-3 publicidad">
				<img th:src="@{/images/publicidad.png}" class="img-responsive" alt="Publicidad"/>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		$(document).ready(function() {
			$('.error').hide();
			$('#categoria').change(function(){
				cargarHistorias($('#categoria').val());
			});
			
		});	
		function validacion(){
			$('.error').hide();
			var validacion = true;
			var focus = false;
			var hoy = new Date();
			if($('#inicioCreacion').val() != '' && $('#finCreacion').val() != '' && $('#inicioCreacion').val() > $('#finCreacion').val()){
				validacion = false;
				$('#error-creacion').show();
				if (!focus){
					$('#inicioCreacion').focus();
					focus = true;
				}
			}
			if($('#inicioCreacion').val() != ''){
				var fecha = new Date($('#inicioCreacion').val());
				if(fecha > hoy){
					validacion = false;
					$('#error-fecha').show();
					if (!focus){
						$('#inicioCreacion').focus();
						focus = true;
					}
				}
			}
			if($('#finCreacion').val() != ''){
				var fecha = new Date($('#finCreacion').val());
				if(fecha > hoy){
					validacion = false;
					$('#error-fecha').show();
					if (!focus){
						$('#finCreacion').focus();
						focus = true;
					}
				}
			}
			if($('#inicioPublicacion').val() != '' && $('#finPublicacion').val() != '' && $('#inicioPublicacion').val() > $('#finPublicacion').val()){
				validacion = false;
				$('#error-publicacion').show();
				if (!focus){
					$('#inicioPublicacion').focus();
					focus = true;
				}
			}
			if($('#inicioPublicacion').val() != ''){
				var fecha = new Date($('#inicioPublicacion').val());
				if(fecha > hoy){
					validacion = false;
					$('#error-fecha').show();
					if (!focus){
						$('#inicioPublicacion').focus();
						focus = true;
					}
				}
			}
			if($('#finPublicacion').val() != ''){
				var fecha = new Date($('#finPublicacion').val());
				if(fecha > hoy){
					validacion = false;
					$('#error-fecha').show();
					if (!focus){
						$('#finPublicacion').focus();
						focus = true;
					}
				}
			}
			if($('#comentarioMinimo').val() != '' && $('#comentarioMaximo').val() != '' && ($('#comentarioMinimo').val() - $('#comentarioMaximo').val()) > 0){
				validacion = false;
				$('#error-comentario').show();
				if (!focus){
					$('#comentarioMinimo').focus();
					focus = true;
				}
			}
			if($('#capituloMinimo').val() != '' && $('#capituloMaximo').val() != '' && ($('#capituloMinimo').val() - $('#capituloMaximo').val()) > 0){
				validacion = false;
				$('#error-capitulo').show();
				if (!focus){
					$('#capituloMinimo').focus();
					focus = true;
				}
			}
			if($('#puntuacionMinimo').val() != '' && $('#puntuacionMaximo').val() != '' && ($('#puntuacionMinimo').val() - $('#puntuacionMaximo').val()) > 0){
				validacion = false;
				$('#error-puntuacion').show();
				if (!focus){
					$('#puntuacionMinimo').focus();
					focus = true;
				}
			}
	
			return validacion;
		}
		/*]]>*/
	</script>
</body>
</html>
