<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title th:text="${publicacion.fanfiction.titulo}"></title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		<div class="modal fade" id="denunciarFanfiction" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Denunciar Fanfiction.</h4>
					</div>
					<div class="modal-body">
						<p>Si usted cree que este Fanfiction incumple nuestros <a th:href="@{'/condiciones'}">términos y condiciones</a>, envíe un correo a <a href="#">contacto.zdf@gmail.com</a> indicando:</p>
						<ul>
							<li>Id del Fanfiction.</li>
							<li>Motivo por el cual cree que incumple los términos y condiciones.</li>
						</ul>
						<p>Si el fanfiction tiene méritos para ser eliminado, la administración se encargará de ello.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
			
				<div class="row">
					<div class="col-md-10 col-md-offset-2">
						<img th:src="@{/images/publicidad-2.png}" class="img-responsive" alt="Publicidad" />
					</div>
				</div>
				<div class="row">
				
					<div class="col-md-12 fanfiction">
						<div class="fanfiction-header">
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li  th:each="historia : ${publicacion.fanfiction.historiaOriginals}" th:text="${historia.nombre} + ' (' + ${historia.categoria.nombre} + ')' +'   '"></li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7">
									<p><span class="lead" th:text="${publicacion.fanfiction.titulo}"></span> <span th:text="'ID: ' + ${publicacion.fanfiction.idFanfiction}"></span> </p>
								</div>
								<div class="col-md-2">
									<button class="btn btn-primary" data-toggle="modal" data-target="#denunciarFanfiction"  >Denunciar</button>
								</div>
								<div class="col-md-3">
									<p class="lead"><a th:href="@{'/fanfiction/perfilUsuario/' + ${publicacion.fanfiction.usuario.idUsuario}}">
										<span class="glyphicon glyphicon-user"></span> <span th:text="${publicacion.fanfiction.usuario.nombre}"></span>
									</a></p>
								</div>
							</div>
						</div>
						
						<div class="fanfiction-body">
							<div th:utext="${publicacion.fanfiction.descripcion}"></div>
						</div>
						<div class="fanfiction-footer">
							<div class="row">
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-eye-open"></span> <strong>Clasificación Parental:</strong> <span th:text="${publicacion.fanfiction.clasificacionParental.nombre}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-comment"></span> <strong>N° comentarios: </strong> <span th:text="${publicacion.cantidadComentarios}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-star"></span> <strong>Puntuación promedio: </strong> <span th:text="${#numbers.formatDecimal(publicacion.PromedioPuntuacion,1,1)}"></span></p> 
								</div>
								<div class="col-md-2">
									<p><span class="glyphicon glyphicon-list"></span> <strong>Capítulos:</strong> <span th:text="${publicacion.fanfiction.capitulos.size()}"></span> </p> 
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Creado el:</strong> <span th:text="${#dates.format(publicacion.fanfiction.fechaCreacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Actualizado el:</strong> <span th:text="${#dates.format(publicacion.fanfiction.fechaActualizacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-stats"></span> <strong>Estado:</strong> <span th:text="${publicacion.fanfiction.estado}"></span> </p> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li><span class="glyphicon glyphicon-record"></span> <strong>Géneros:</strong></li>
									  <li th:each="type : ${publicacion.fanfiction.generos}" th:text="${type.nombre} + '   '"></li>
									</ul>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
				
				<div class="row fanfiction">
					<div class="col-md-12">
						<div class="fanfiction-header">
							<div class="row">
								<div class="col-md-12">
									<p><span class="lead" th:text="${capituloPublicacion.capitulo.numero} + '.- ' +  ${capituloPublicacion.capitulo.titulo}"></span> </p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Creado el:</strong> <span th:text="${#dates.format(capituloPublicacion.capitulo.fechaPublicacion, 'dd-MM-yyyy')}"></span></p>
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Actualizado el:</strong> <span th:text="${#dates.format(capituloPublicacion.capitulo.fechaActualizacion, 'dd-MM-yyyy')}"></span></p>
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-comment"></span> <strong>N° comentarios:</strong> <span th:text="${capituloPublicacion.cantidadComentarios}"></span></p>
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-star"></span> <strong>Puntuación promedio:</strong> <span th:text="${#numbers.formatDecimal(capituloPublicacion.promedioPuntuacion,1,1)}"></span></p>
								</div>
							</div>
							
						</div>
						<div class="fanfiction-body">
							<div class="row">
								<div class="col-md-8"></div>
								<div class="col-md-2">
									<span th:if="${anterior}"><a th:href="@{${anterior}}" class="btn btn-default">Anterior</a></span>
								</div>
								<div class="col-md-2">
									<span th:if="${siguiente}"><a th:href="@{${siguiente}}" class="btn btn-primary">Siguiente</a></span>
								</div>
							</div>
						
							<div class="row"><div class="col-md-12 texto-fanfiction">
								<div th:utext="${capituloPublicacion.capitulo.contenido}"></div>
							</div></div>
							
							<div class="row">
								<div class="col-md-8"></div>
								<div class="col-md-2">
									<span th:if="${anterior}"><a th:href="@{${anterior}}" class="btn btn-default">Anterior</a></span>
								</div>
								<div class="col-md-2">
									<span th:if="${siguiente}"><a th:href="@{${siguiente}}" class="btn btn-primary">Siguiente</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div sec:authorize="hasAuthority('USER')" class="row">
					<div class="col-md-12">
						<div class="row">
							<div id="zonaPuntuacion">
								<form class="form-horizontal" id="puntuacion">
					            	<input type="hidden" th:value="${capituloPublicacion.capitulo.idCapitulo}" id="idCapitulo"/>
					             	<input type="hidden" th:value="${idUsuario}" id="idUsuario"/>
					             	<div class="col-md-4 fanfiction fanfiction-header">
					             		<div class="form-group">
					             			<ul>
					             				<li><label>Entregar Puntuación: </label>
													<div class='starrr'></div></li>
					             			</ul>
										</div>
					             	</div>
					        	</form>
					        	<label class="col-md-8 exito"  id="respuestaPuntuacion" ></label>
		
					        </div>
						</div>
				        <div class="row">
				        	<div  class="col-md-12" id="zonaComentario">
				        		<form class="form-horizontal" id="comentario">
				        			<div class="row">
					        			<div class="form-group  col-md-12">
							            	<label for="contenido">Comentar (Máximo 2000 caracteres): </label>
											<textarea id="contenido" rows="10" class="form-control"  maxlength="2000"></textarea>
											<label id="error-comentario" class="validation-message error">El comentario no puede ir vacío.</label>
										</div>
									</div>
									<div class="col-md-4">
										<button type="button" class="form-group btn btn-primary" id="comentar">Enviar</button>
									</div>
					        	</form>
					        	<label class="col-md-12 exito" id="respuestaComentario" ></label>
				        	</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="denunciarComentario" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Denunciar comentario.</h4>
							</div>
							<div class="modal-body">
								<p>Si usted cree que este comentario incumple nuestros <a th:href="@{'/condiciones'}">términos y condiciones</a>, envíe un correo a <a href="#">contacto.zdf@gmail.com</a> indicando:</p>
								<ul>
									<li>Id del comentario.</li>
									<li>Motivo por el cual cree que incumple los términos y condiciones.</li>
								</ul>
								<p>Si el comentario tiene méritos para ser eliminado, la administración se encargará de ello.</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" >
					<div class="col-md-12">
						<h2>Comentarios:</h2>
						<div th:if="${capituloPublicacion.cantidadComentarios} > 0" >
							<div  id="comentarios">
								<div th:each="type : ${capituloPublicacion.listaComentarios}">
									<div class="row">
										<div class="col-md-12 fanfiction">
											<div class="row fanfiction-header">
												<div class="col-md-10">
													<p><a th:href="@{'/fanfiction/perfilUsuario/' + ${type.usuario.idUsuario}}"><span class="lead" th:text="${type.usuario.nombre}"></span></a> <span class="lead" th:text="' dijo el ' + ${#dates.format(type.fecha, 'dd-MM-yyyy')} + ' a las ' + ${#dates.format(type.fecha, 'HH:mm')}" ></span> <span th:text="'ID: ' + ${type.idComentario}"></span></p>
												</div>
												<div class="col-md-2">
													<button class="btn btn-primary" data-toggle="modal" data-target="#denunciarComentario"  >Denunciar</button>
												</div>
											</div>
											<div class="row fanfiction-body">
												<div class="col-md-12">
													<p th:utext="${type.contenido}"></p>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
				
						</div>
						<div th:if="${capituloPublicacion.cantidadComentarios} == 0">
							<p class="lead">No tenemos comentarios que mostrar</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-2">
						<img th:src="@{/images/publicidad-2.png}" class="img-responsive" alt="Publicidad"/>
					</div>
				</div>
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			$('.error').hide();
			$('.exito').hide();
			
			
		});
	
		$(document).ready(function() {
			$('#error-comentario').hide();
			var puntuacion = /*[[${puntuacion}]]*/;
			if(puntuacion == 0){
				$('.starrr').starrr();
			}else{
				$('.starrr').starrr({
				  rating: puntuacion
				})
			}
			
			$('.starrr').on('starrr:change', function(e, value){
				if(value != undefined)
					puntuar(value);
			})
			
			$('#comentar').click(function(event){
				if($('#contenido').val() == ''){
					$('#error-comentario').show();
				}else{
					comentar();
					$('#error-comentario').hide();
					$('#contenido').val('')
				}
			});
		});
		
		 /*]]>*/
	</script>
</body>
</html>

