<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Salir</title>
</head>

<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		<div th:replace="fragments :: header"></div>	
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1 th:text="${mensajeExito}"></h1>
					<p>Espere mientras es redirigido a la página principal...</p>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: footer"></div>			
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
		window.setTimeout(function(){
			window.location.href = getContextPath()+"/logout";

	    }, 3000);
	});
	
</script>
</html>