<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>´Comentarios recibidos</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		<div class="modal fade" id="denunciarComentario" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Denunciar comentario.</h4>
					</div>
					<div class="modal-body">
						<p>Si usted cree que este comentario incumple nuestros <a th:href="@{'/condiciones'}">términos y condiciones</a>, envíe un correo a <a href="#">contacto.zdf@gmail.com</a> indicando:</p>
						<ul>
							<li>Id del comentario.</li>
							<li>Motivo por el cual cree que incumple los términos y condiciones.</li>
						</ul>
						<p>Si el comentario tiene méritos para ser eliminado, la administración se encargará de ello.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h1>Historial de comentarios recibidos.</h1>
					</div>
				</div>
				<div class="row">
					<div th:if="${comentariosRecibidos.size()} > 0">
						<div class="col-md-12 fanfiction"  th:each="comentario : ${comentariosRecibidos}">
							<div class="fanfiction-footer">
								<div class="row">
									<div class="col-md-4">
										<p class="lead"><span class="glyphicon glyphicon-th-list"></span> <strong>ID: </strong> <span th:text="${comentario.idComentario}"></span> </p>
									</div>
									<div class="col-md-4">
										<p class="lead"><span class="glyphicon glyphicon-calendar"></span> <strong>Fecha: </strong> <span th:text="${#dates.format(comentario.fecha, 'dd-MM-yyyy HH:mm:ss')}"></span> </p>
									</div>
									<div class="col-md-4">
										<p class="lead"><span class="glyphicon glyphicon-user"></span> <strong>Usuario: </strong> <a th:href="@{'/fanfiction/perfilUsuario/'+${comentario.usuario.idUsuario}}"> <span th:text="${comentario.usuario.nombre}"></span> </a> </p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p class="lead"><span class="glyphicon glyphicon-book"></span> <strong>Fanfiction: </strong> <a th:href="@{'/fanfiction/mostrar/'+${comentario.capitulo.fanfiction.idFanfiction}+'/1'}"> <span th:text="${comentario.capitulo.fanfiction.titulo}"></span> </a> </p>
									</div>
									<div class="col-md-4">
										<p class="lead"><span class="glyphicon glyphicon-list-alt"></span> <strong>Capítulo: </strong> <a th:href="@{'/fanfiction/mostrar/'+${comentario.capitulo.fanfiction.idFanfiction}+'/'+${comentario.capitulo.numero}}"> <span th:text="${comentario.capitulo.numero} + '. ' + ${comentario.capitulo.titulo}"></span> </a> </p>
									</div>
									<div class="col-md-4">
										<button class="btn btn-primary" data-toggle="modal" data-target="#denunciarComentario"  >Denunciar</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<p class="lead"><span class="glyphicon glyphicon-comment"></span> <strong>Contenido: </strong>  </p>
										<div th:utext="${comentario.contenido}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div th:if="${comentariosRecibidos.size()} == 0">
						<h2>No ha recibido comentarios.</h2>
					</div>
				</div>
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	
</body>
</html>