<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Eliminar Fanfiction</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h1>Eliminar Fanfiction.</h1>
						<form th:action="@{/admin/eliminarFanfiction}" th:object="${adminEliminacionForm}" method="POST" role="form" >
							<input type="hidden" id="id" name="id" th:value="${adminEliminacionForm.id}" class="form-control"/> 
							<div class="row">
								<div class=" col-md-4 col-md-offset-4">
									<p>¿Está seguro que desea eliminar el Fanfiction? Recuerde que solo puede eliminarlo si incumple con los
									<a th:href="@{'/condiciones'}">Términos y condiciones.</a>.</p>
									<p><strong class="validation-message">Esta acción no se puede deshacer.</strong></p>
								</div>
							</div>
							<div class="row">
								<div class=" col-md-4 col-md-offset-4">
									<button type="submit" class="form-group btn btn-primary" >Eliminar Fanfiction</button>
									<a th:href="@{/admin/eliminarFanfiction}" class="form-group btn btn-default">Volver</a>
								</div>
							</div>	
						</form>
					</div>
				</div>
				<div class="row">
					<h2>Fanfiction: </h2>
					<div class="col-md-12 fanfiction">
						<div class="fanfiction-header">
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li  th:each="historia : ${publicacion.fanfiction.historiaOriginals}" th:text="${historia.nombre} + ' (' + ${historia.categoria.nombre} + ')' +'   '"></li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-9">
									<p><span class="lead" th:text="${publicacion.fanfiction.titulo}"></span> <span th:text="'ID: ' + ${publicacion.fanfiction.idFanfiction}"></span> </p>
								</div>
								<div class="col-md-3">
									<p class="lead"><a th:href="@{'/fanfiction/perfilUsuario/' + ${publicacion.fanfiction.usuario.idUsuario}}">
										<span class="glyphicon glyphicon-user"></span> <span th:text="${publicacion.fanfiction.usuario.nombre}"></span>
									</a></p>
								</div>
							</div>
						</div>
						
						<div class="fanfiction-body">
							<div th:utext="${publicacion.fanfiction.descripcion}"></div>
						</div>
						<div class="fanfiction-footer">
							<div class="row">
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-eye-open"></span> <strong>Clasificación Parental:</strong> <span th:text="${publicacion.fanfiction.clasificacionParental.nombre}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-comment"></span> <strong>N° comentarios: </strong> <span th:text="${publicacion.cantidadComentarios}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-star"></span> <strong>Puntuación promedio: </strong> <span th:text="${#numbers.formatDecimal(publicacion.PromedioPuntuacion,1,1)}"></span></p> 
								</div>
								<div class="col-md-2">
									<p><span class="glyphicon glyphicon-list"></span> <strong>Capítulos:</strong> <span th:text="${publicacion.fanfiction.capitulos.size()}"></span> </p> 
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Creado el:</strong> <span th:text="${#dates.format(publicacion.fanfiction.fechaCreacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Actualizado el:</strong> <span th:text="${#dates.format(publicacion.fanfiction.fechaActualizacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-stats"></span> <strong>Estado:</strong> <span th:text="${publicacion.fanfiction.estado}"></span> </p> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li><span class="glyphicon glyphicon-record"></span> <strong>Géneros:</strong></li>
									  <li th:each="type : ${publicacion.fanfiction.generos}" th:text="${type.nombre} + '   '"></li>
									</ul>
								</div>
							</div>
						</div>
					
					</div>
						
				</div>
			
			</div>		
		</div>
			
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>
</html>
