<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Eliminar Comentario</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		<div class="row contenido">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h1>Eliminar Comentario.</h1>
						
						<form th:action="@{/admin/eliminarComentario}" th:object="${adminEliminacionForm}" method="POST" role="form" >
							<input type="hidden" id="id" name="id" th:value="${adminEliminacionForm.id}" class="form-control"/> 
							<div class="row">
								<div class=" col-md-4 col-md-offset-4">
									<p>¿Está seguro que desea eliminar el Comentario? Recuerde que solo puede eliminarlo si incumple con los
									<a th:href="@{'/condiciones'}">Términos y condiciones.</a>.</p>
									<p><strong class="validation-message">Esta acción no se puede deshacer.</strong></p>
								</div>
							</div>
							<div class="row">
								<div class=" col-md-4 col-md-offset-4">
									<button type="submit" class="form-group btn btn-primary" >Eliminar Comentario</button>
									<a th:href="@{/admin/eliminarComentario}" class="form-group btn btn-default">Volver</a>
								</div>
							</div>	
						</form>
					</div>
				</div>
				<div class="row">
					<h2>Comentario: </h2>
					<div class="col-md-12 fanfiction">
						<div class="row fanfiction-header">
							<div class="col-md-12">
								<p><a th:href="@{'/fanfiction/perfilUsuario/' + ${comentario.usuario.idUsuario}}"><span class="lead" th:text="${comentario.usuario.nombre}"></span></a> <span class="lead" th:text="' dijo el ' + ${#dates.format(comentario.fecha, 'dd-MM-yyyy')} + ' a las ' + ${#dates.format(comentario.fecha, 'HH:mm')}" ></span> <span th:text="'ID: ' + ${comentario.idComentario}"></span></p>
							</div>
						</div>
						<div class="row fanfiction-body">
							<div class="col-md-12">
								<p th:utext="${comentario.contenido}"></p>
							</div>
						</div>
					</div>
				</div>		
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	
</body>
</html>