<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Eliminar Usuario</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h1>Eliminar Usuario.</h1>
						<form th:action="@{/admin/eliminarUsuario}" th:object="${adminEliminacionForm}" method="POST" role="form" >
							<input type="hidden" id="id" name="id" th:value="${adminEliminacionForm.id}" class="form-control"/> 
							<div class="row">
								<div class=" col-md-4 col-md-offset-4">
									<p>¿Está seguro que desea eliminar el Usuario? Recuerde que solo puede eliminarlo si incumple con los
									<a th:href="@{'/condiciones'}">Términos y condiciones.</a>.</p>
									<p><strong class="validation-message">Esta acción no se puede deshacer.</strong></p>
								</div>
							</div>
							<div class="row">
								<div class=" col-md-4 col-md-offset-4">
									<button type="submit" class="form-group btn btn-primary" >Eliminar Usuario</button>
									<a th:href="@{/admin/eliminarUsuario}" class="form-group btn btn-default">Volver</a>
								</div>
							</div>	
						</form>
					</div>
				</div>
				<div class="row">
					<h2>Usuario: </h2>
					<div class="col-md-12 fanfiction">
						<div class="row fanfiction-header">
							<div class="row">
								<div class="col-md-12">
									<h1><span th:text="${usuario.nombre}"></span> <span  class="lead" th:text="'ID: '+${usuario.idUsuario}"></span></h1>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Fecha de creación de la cuenta:</strong> <span th:text="${#dates.format(usuario.fechaCreacion, 'dd-MM-yyyy')}"></span></p>
									
								</div>
								<div class="col-md-6">
									<p><span class="glyphicon glyphicon-book"></span> <strong>Fanfictions publicados: </strong> <span th:text="${usuario.fanfictions.size()}"></span></p>
								</div>
							</div>
						</div>
						<div class="row fanfiction-body">
							<div class="col-md-12" th:utext="${usuario.descripcion}"></div>
						</div>
						
					</div>
				</div>		
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	
</body>
</html>
