<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Cuenta de usuario</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Desactivar cuenta.</h4>
					</div>
					<div class="modal-body">
						<p>¿Está seguro que desea desactivar su cuenta? Con ello se eliminarán sus fanfictions con toda su información, y también su historial de lectura, pero sus comentarios y puntuaciones permanecerán registrados.</p>
						<p>¿Aún así está seguro?</p>
						<p><strong class="validation-message">Esta acción no se puede deshacer.</strong></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="eliminar();">Eliminar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>

			</div>
		</div>
		<div class="row contenido">
			<div class="col-md-12">
				<h1>Cuenta de usuario.</h1>
				<div class="row">
					<label class="exito col-md-12" th:if="${mensajeExito}" th:text="${mensajeExito}"></label>
					<label class="validation-message col-md-12" th:if="${mensajeError}" th:text="${mensajeError}"></label>
				</div>
				<form sec:authorize="hasAuthority('USER')" th:action="@{/user/cuentaDeUsuario}" th:object="${cuentaUsuarioForm}" method="POST" role="form" onsubmit="return validacion()">
					<div class="row">	
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="nombre">Nombre de usuario (*): </label>
							<input type="text" id="nombre" th:field="*{nombre}" class="form-control" maxlength="45"/> 
							<label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message col-md-12"></label>
							<label id="error-nombre" class="validation-message error col-md-12">Por favor, ingrese su nombre de usuario.</label> 
						</div>	
					</div>
					<div class="row">	
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="correo">Correo (*): </label>
							<input type="text" id="correo" th:field="*{correo}" class="form-control" maxlength="45"/> 
							<div class="text-muted">Si lo modifica, deberá validarlo a través de un mensaje</div>
							<label th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" class="validation-message col-md-12"></label>
							<label id="error-correo" class="validation-message error col-md-12">Por favor, ingrese su correo.</label> 
						</div>
					</div>
					<div class="row">					
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="clave">Antigua Contraseña (*): </label>
							<input type="password" id="claveAntigua" th:field="*{claveAntigua}" class="form-control"/>
							<label th:if="${#fields.hasErrors('claveAntigua')}" th:errors="*{claveAntigua}" class="validation-message col-md-12"></label>
							<label id="error-clave-antigua"	class="validation-message error col-md-12">Su contraseña no coincide con la que tenía originalmente.</label>
						</div>
					</div>
					<div class="row">					
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="clave">Nueva Contraseña : </label>
							<input type="password" id="clave" th:field="*{clave}" class="form-control"/>
							<label th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}" class="validation-message col-md-12"></label>
							<label id="error-clave"	class="validation-message error col-md-12">Su contraseña debe ser de al menos 8 caracteres.</label>
						</div>
					</div>
					<div class="row">	
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="clave2">Repita contraseña : </label>
							<input type="password" id="clave2" th:field="*{clave2}"  class="form-control"/> 
							<label th:if="${#fields.hasErrors('clave2')}" th:errors="*{clave2}"	class="validation-message col-md-12"></label>
							<label id="error-clave2" class="validation-message error col-md-12">Las contraseñas no coinciden.</label>
							<label id="error-clave3" class="validation-message error col-md-12">Por favor, repita su contraseña.</label>
						</div>
					</div>
					<div class="row">	
						<div class="form-group  col-md-12">
							<label for="descripcion">Descripción: </label>
							<textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="10"></textarea>
						</div>
					</div>
					<input type="hidden" id="path" th:field="*{path}"/>
					<div class="row">
						<div class="text-muted col-md-4 col-md-offset-4">* Parámetros obligatorios.</div>
						<div class=" col-md-4 col-md-offset-4">
							<button type="submit" class="form-group btn btn-primary" >Guardar cambios</button>
							<a th:href="@{/user/home}" class="form-group btn btn-default">Volver</a>
						</div>
					</div>
					
				</form>
				<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/admin/cuentaDeUsuario}" th:object="${cuentaUsuarioForm}" method="POST" role="form" onsubmit="return validacion()">
					<div class="row">	
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="nombre">Nombre de usuario (*): </label>
							<input type="text" id="nombre" th:field="*{nombre}" class="form-control" maxlength="45"/> 
							<label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message col-md-12"></label>
							<label id="error-nombre" class="validation-message error col-md-12">Por favor, ingrese su nombre de usuario.</label> 
						</div>	
					</div>
					<div class="row">	
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="correo">Correo (*): </label>
							<input type="text" id="correo" th:field="*{correo}" class="form-control" maxlength="45"/> 
							<div class="text-muted">Si lo modifica, deberá validarlo a través de un mensaje</div>
							<label th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" class="validation-message col-md-12"></label>
							<label id="error-correo" class="validation-message error col-md-12">Por favor, ingrese su correo.</label> 
						</div>
					</div>
					<div class="row">					
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="clave">Antigua Contraseña (*): </label>
							<input type="password" id="claveAntigua" th:field="*{claveAntigua}" class="form-control"/>
							<label th:if="${#fields.hasErrors('claveAntigua')}" th:errors="*{claveAntigua}" class="validation-message col-md-12"></label>
							<label id="error-clave-antigua"	class="validation-message error col-md-12">Su contraseña no coincide con la que tenía originalmente.</label>
						</div>
					</div>
					<div class="row">					
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="clave">Nueva Contraseña : </label>
							<input type="password" id="clave" th:field="*{clave}" class="form-control"/>
							<label th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}" class="validation-message col-md-12"></label>
							<label id="error-clave"	class="validation-message error col-md-12">Su contraseña debe ser de al menos 8 caracteres.</label>
						</div>
					</div>
					<div class="row">	
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="clave2">Repita contraseña : </label>
							<input type="password" id="clave2" th:field="*{clave2}"  class="form-control"/> 
							<label th:if="${#fields.hasErrors('clave2')}" th:errors="*{clave2}"	class="validation-message col-md-12"></label>
							<label id="error-clave2" class="validation-message error col-md-12">Las contraseñas no coinciden.</label>
							<label id="error-clave3" class="validation-message error col-md-12">Por favor, repita su contraseña.</label>
						</div>
					</div>
					<div class="row">	
						<div class="form-group  col-md-12">
							<label for="descripcion">Descripción: </label>
							<textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="10"></textarea>
						</div>
					</div>
					<input type="hidden" id="path" th:field="*{path}"/>
					<div class="row">
						<div class="text-muted col-md-4 col-md-offset-4">* Parámetros obligatorios.</div>
						<div class=" col-md-4 col-md-offset-4">
							<button type="submit" class="form-group btn btn-primary" >Guardar cambios</button>
							<a th:href="@{/user/home}" class="form-group btn btn-default">Volver</a>
						</div>
					</div>
					
				</form>
				
				<div sec:authorize="hasAuthority('USER')" class="row">
					<div class=" col-md-4 col-md-offset-4">
						<p></p>
						<button type="button" data-toggle="modal" data-target="#myModal" class=" btn btn-danger">Desactivar cuenta</button>
					</div>
				</div>	
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		$(document).ready(function() {
			$('.error').hide();		
		});
		function validacion(){
			var valid = true;
			$('.error').hide();
			//nicEditors.findEditor('descripcion').saveContent();
			if($('#nombre').val() == ''){
				$('#error-nombre').show();
				valid = false;
			}
			if($('#correo').val() == ''){
				$('#error-correo').show();
				valid = false;
			}
			if($('#clave').val().length < 8 && $('#clave').val() != ''){
				$('#error-clave').show();
				valid = false;
			}
			if($('#clave2').val() == '' && $('#clave').val() != ''){
				$('#error-clave3').show();
				valid = false;
			}
			if($('#clave').val().localeCompare($('#clave2').val()) != 0 && $('#clave').val() != ''){
				$('#error-clave2').show();
				valid = false;
			}
			if(valid){
				$('#path').val(getFullPath());
			}

			return valid;
			
		}
		function eliminar(){
			
			window.location.replace(getContextPath()+"/user/desactivar");
			alert("Su cuenta ha sido eliminada exitosamente");
		}
		/*]]>*/
	</script>	
</body>
</html>
