<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title th:text='${capitulo.fanfiction.titulo}'></title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<h1><span th:text='${capitulo.fanfiction.titulo}'></span> <small th:text="'ID: ' + ${capitulo.fanfiction.idFanfiction}"></small></h1>
				<form th:action="@{/user/capitulo/editar}" th:object="${capituloForm}" method="POST" role="form" onsubmit="return validacion()">
					<div class="row">
						<div class="form-group col-md-12">
							<label for="titulo" th:text="'Capítulo ' + ${capitulo.numero} + ': (*)'"> </label>
							<input type="text" id="titulo" th:field="*{titulo}" class="form-control" maxlength="45"/> 
							<label th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"	class="validation-message col-md-12"></label>
							<label id="error-titulo" class="validation-message error col-md-12">Por favor, ingrese un título para el capítulo.</label> 
						</div>
					</div>
					<div class="row">
						<div class="form-group col-md-12">
							<label for="contenido">Contenido (*): </label>
							<textarea id="contenido" th:field="*{contenido}" rows="30" class="form-control"></textarea>
							<label th:if="${#fields.hasErrors('contenido')}" th:errors="*{contenido}" class="validation-message col-md-12"></label>
							<label id="error-contenido"	class="validation-message error col-md-12">Por favor, ingrese el contenido del capítulo.</label> 
						</div>
					</div>
					<input type="hidden" th:id="numero" th:name="numero" th:value="-1"/> 
					<input type="hidden" th:id="idFanfiction" th:name="idFanfiction" th:value="-1"/>
					<input type="hidden" th:id="idCapitulo" th:name="idCapitulo" th:value="${capitulo.idCapitulo}"/>
					<div class="row">
						<div class="text-muted  col-md-4 col-md-offset-4">* Parámetros obligatorios.</div>
						<div class=" col-md-4 col-md-offset-4">
							<button type="submit" class="form-group btn btn-primary" >Guardar cambios</button>
							<a th:href="@{'/user/capitulo/ver/'+ ${capitulo.idCapitulo}}" class="form-group btn btn-default">Volver</a>
						</div>
					</div> 	
				</form>
					
						
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			$('.error').hide();
			
		});
		function validacion(){
			var valid = true;
			var focus = false;
			$('.error').hide();
			
			if($('#titulo').val() == ''){
				$('#error-titulo').show();
				valid = false;
				if (!focus){
					$('#titulo').focus();
					focus = true;
				}
			}
			if($('#contenido').val() == ''){
				$('#error-contenido').show();
				valid = false;
				if (!focus){
					$('#contenido').focus();
					focus = true;
				}
			}
			
			return valid;

		}
		/*]]>*/
	</script>
</body>
</html>