<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Eliminar Fanfiction</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<h1>Eliminar Fanfiction.</h1>
						<strong class="exito" th:if="${mensajePositivo}" th:text="${mensajePositivo}"></strong>
						<strong class="validation-message" th:if="${mensajeNegativo}" th:text="${mensajeNegativo}"></strong>
						<label id="error-id" class="validation-message error">El valor del ID no puede quedar vacío.</label> 
					</div>
				</div>
				<form th:action="@{/admin/confirmarFanfiction}" th:object="${adminEliminacionForm}" method="POST" role="form" onsubmit="return validacion()">
				
					<div class="row">
						<div class="form-group  col-md-4 col-md-offset-4">
							<label for="id">ID del fanfiction (*): </label>
							<input type="number" id="id" th:field="*{id}" class="form-control"/> 
							<label th:if="${#fields.hasErrors('id')}" th:text="*{id}"	class="validation-message col-md-12"></label>
							
						</div>
					</div>
					
					<div class="row">
						<div class="text-muted  col-md-4 col-md-offset-4">* Parámetros obligatorios.</div>
						<div class=" col-md-4 col-md-offset-4">
							<button type="submit" class="form-group btn btn-primary" >Buscar Fanfiction</button>
							<a th:href="@{/admin/home}" class="form-group btn btn-default">Volver</a>
						</div>
					</div>
					
							
				</form>
					
						
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			$('.error').hide();		
		});
		function validacion(){
			var valid = true;
			$('.error').hide();
			if($('#id').val() == ''){
				$('#error-id').show();
				valid = false;
			}
			return valid;
		}
		/*]]>*/
	</script>
</body>
</html>
