<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head th:fragment="head">
  	<meta charset="utf-8"/>
  		
  </head>

	
  <body>
	<div th:fragment="css">
  		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-select.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}" media="screen" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" media="screen" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/starrr.css}" media="screen" />
  	</div>  
  	
  	<div class="row">	
			<div class="col-md-12" th:fragment="header">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
			
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span><span
							class="icon-bar"></span><span class="icon-bar"></span><span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/}">Zona de Fics </a> <a
						class="navbar-brand" th:href="@{/}"><small>¡Haz volar tu imaginación!</small></a>
				</div>
			
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1" sec:authorize="isAuthenticated()">
					<ul class="nav navbar-nav navbar-right" sec:authorize="hasAuthority('USER')">
						<li><a th:href="@{/user/home}"> <span class="glyphicon glyphicon-home"></span> Inicio</a></li>
						<li><a th:href="@{/fanfiction/buscar}"> <span class="glyphicon glyphicon-search"></span> Buscar Fanfiction</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"> <span class="glyphicon glyphicon-book"></span> Mis Fanfictions <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a th:href="@{/user/fanfiction/nuevo}"> <span class="glyphicon glyphicon-pencil"></span> Nuevo Fanfiction</a>
								</li>
								<li>
									<a th:href="@{/user/fanfictions}"> <span class="glyphicon glyphicon-list-alt"></span> Mis Fanfictions publicados</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"> <span class="glyphicon glyphicon-th-list"></span> Mi historial <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a th:href="@{/user/historial/lecturas}"> <span class="glyphicon glyphicon-book"></span> Historial lectura</a>
								</li>
								<li>
									<a th:href="@{/user/historial/puntuacionesRecibidas}"> <span class="glyphicon glyphicon-star"></span> Puntuaciones recibidas</a>
								</li>
								<li>
									<a th:href="@{/user/historial/comentariosRecibidos}"> <span class="glyphicon glyphicon-comment"></span> Comentarios recibidos</a>
								</li>
								<li>
									<a th:href="@{/user/historial/puntuacionesRealizadas}"> <span class="glyphicon glyphicon-star-empty"></span> Puntuaciones realizadas</a>
								</li>
								<li>
									<a th:href="@{/user/historial/comentariosRealizados}"> <span class="glyphicon glyphicon-comment"></span> Comentarios realizados</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"> <span class="glyphicon glyphicon-user"></span> <span th:text="${nombreUsuario}"></span> <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li class="inline"></li>
								<li>
									<a th:href="@{/user/cuentaDeUsuario}"> <span class="glyphicon glyphicon-edit"></span> Mi cuenta</a>
								</li>
								<li>
									<a th:href="@{/logout}"> <span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a>
								</li>
							</ul>
						</li>
						
					</ul>
					<ul class="nav navbar-nav navbar-right" sec:authorize="hasAuthority('ADMIN')">
						<li><a th:href="@{/admin/home}"> <span class="glyphicon glyphicon-home"></span> Inicio</a></li>
						<li><a th:href="@{/admin/agregarHistoriaOriginal}"> <span class="glyphicon glyphicon-flash"></span> Nueva Historia Original</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" > <span class="glyphicon glyphicon-remove"></span> Eliminar <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/admin/eliminarFanfiction}"> <span class="glyphicon glyphicon-book"></span> Fanfiction</a></li>
								<li><a th:href="@{/admin/eliminarUsuario}"> <span class="glyphicon glyphicon-user"></span> Usuario</a></li>
								<li><a th:href="@{/admin/eliminarComentario}"> <span class="glyphicon glyphicon-comment"></span> Comentario</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"> <span class="glyphicon glyphicon-user"></span> <span th:text="${nombreUsuario}"></span> <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li class="inline"></li>
								<li>
									<a th:href="@{/admin/cuentaDeUsuario}"> <span class="glyphicon glyphicon-edit"></span> Mi cuenta</a>
								</li>
								<li>
									<a th:href="@{/logout}"> <span class="glyphicon glyphicon-log-out"></span> Cerrar sesión</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1" sec:authorize="isAnonymous()">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/registro}"> <span class="glyphicon glyphicon-pencil"></span> Registrarse</a></li>
						<li><a th:href="@{/fanfiction/buscar}"> <span class="	glyphicon glyphicon-search"></span> Buscar Fanfiction</a></li>
						<li><a th:href="@{/login}"> <span class="glyphicon glyphicon-log-in"></span> Iniciar sesión</a></li>
					</ul>
				</div>
			
			</nav>
		</div>
	</div>
	
	<div th:fragment="footer">
		<footer class="row">
			<div class="col-md-12">
				<address align="center">
					<strong>Zona de fics</strong> es un proyecto creado por <strong>Martita	Muñoz.</strong> como un proyecto de título para la <strong>Universidad del Bío Bío.</strong><br/> 
					<span class="glyphicon glyphicon-copyright-mark"></span> 2017-2018
					 <br/> <a th:href="@{'/condiciones'}">Términos y condiciones.</a> | <a th:href="@{'/acerca'}">Acerca de
						Zona de fics.</a>
				</address>
			</div>
		</footer>
	</div>
	
	<div th:fragment="scripts">
		<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script	th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/bootstrap-select.min.js}"></script>
		<!-- <script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> --> 
		<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
		<script type="text/javascript" th:src="@{/js/starrr.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap-hover-dropdown.min.js}"></script>
	</div>
  </body>
 </html>