<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Historial de lecturas</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h1>Historial de lecturas.</h1>
					</div>
				</div>
				<div class="row">
					<div th:if="${lecturas.size()} > 0">
						<div class="col-md-12 fanfiction"  th:each="lectura : ${lecturas}">
							<div class="fanfiction-header">
								<div class="row">
									<div class="col-md-12">
										<ul class="list-inline">
										  <li  th:each="historia : ${lectura.capitulo.fanfiction.historiaOriginals}" th:text="${historia.nombre} + ' (' + ${historia.categoria.nombre} + ')' +'   '"></li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9">
										<p><span class="lead" th:text="${lectura.capitulo.fanfiction.titulo}"></span> <span th:text="'ID: ' + ${lectura.capitulo.fanfiction.idFanfiction}"></span> </p>
									</div>
									<div class="col-md-3">
										<p class="lead"><a th:href="@{'/fanfiction/perfilUsuario/' + ${lectura.capitulo.fanfiction.usuario.idUsuario}}">
											<span class="glyphicon glyphicon-user"></span> <span th:text="${lectura.capitulo.fanfiction.usuario.nombre}"></span>
										</a></p>
									</div>
									
								</div>
							</div>
							
							<div class="fanfiction-body">
								<div th:utext="${lectura.capitulo.fanfiction.descripcion}"></div>
							</div>
							<div class="fanfiction-footer">
								<div class="row">
									<div class="col-md-9">
										<p class="lead"><span class="glyphicon glyphicon-list"></span> <strong>Capítulo:</strong> <span th:text="${lectura.capitulo.numero} + '.- ' + ${lectura.capitulo.titulo}"></span> </p> 
									</div>
									<div class="col-md-3">
										<a th:href="@{'/fanfiction/mostrar/' + ${lectura.capitulo.fanfiction.idFanfiction} + '/' + ${lectura.capitulo.numero}}" class="form-group btn btn-primary">Continuar leyendo.</a>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<p><span class="glyphicon glyphicon-calendar"></span> <strong>Creado el:</strong> <span th:text="${#dates.format(lectura.capitulo.fanfiction.fechaCreacion, 'dd-MM-yyyy')}"></span> </p> 
									</div>
									<div class="col-md-4">
										<p><span class="glyphicon glyphicon-calendar"></span> <strong>Actualizado el:</strong> <span th:text="${#dates.format(lectura.capitulo.fanfiction.fechaActualizacion, 'dd-MM-yyyy')}"></span> </p> 
									</div>
									<div class="col-md-4">
										<p><span class="glyphicon glyphicon-calendar"></span> <strong>Último acceso:</strong> <span th:text="${#dates.format(lectura.fecha, 'dd-MM-yyyy')}"></span> </p> 
									</div>
								</div>								
							</div>
						</div>
					</div>
					
					<div th:if="${lecturas.size()} == 0">
						<h2>No ha leído ningún fanfiction hasta ahora.</h2>
					</div>
				</div>
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	
</body>
</html>