<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Zona de Fics</title>
</head>
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="carousel slide" id="carousel-298062">
					<ol class="carousel-indicators">
						<li class="active" data-slide-to="0"
							data-target="#carousel-298062"></li>
						<li data-slide-to="0"
							data-target="#carousel-298062"></li>
						<li data-slide-to="0"
							data-target="#carousel-298062"></li>

					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<img alt="Carousel Bootstrap First" th:src="@{/images/banner.png}" width="100%"
								height="100px" />
							<div class="carousel-caption">
								<h3>¡Bienvenido a Zona de Fics!</h3>
								<p class="lead">Aquí podrás encontrar, publicar y compartir todos los Fanfictions que quieras.</p>
							</div>
						</div>
						<div class="item">
						<img alt="Carousel Bootstrap Second" th:src="@{/images/banner.png}"  width="100%"
								height="100px" />
						<div class="carousel-caption">
							<h3>¡Bienvenido a Zona de Fics!</h3>
							<p class="lead">Si quieres encontrar el fanfiction que estás soñando, búscalo aquí.</p>
							<a th:href="@{/fanfiction/buscar}" class="btn btn-primary">Comenzar la búsqueda</a>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" th:src="@{/images/banner.png}"  width="100%"
								height="100px" />
						<div class="carousel-caption">
							<h3>¡Bienvenido a Zona de Fics!</h3>
							<p class="lead">Si quieres echar a volar tu imaginación y mostrarle al mundo el poder de tu creatividad, ¡regístrate!</p>
							<a th:href="@{/registro}" class="btn btn-primary">¡Registrarme!</a>
						</div>
					</div>
					</div>
					<a class="left carousel-control" href="#carousel-298062"
						data-slide="prev"><span
						class="glyphicon glyphicon-chevron-left"></span></a> <a
						class="right carousel-control" href="#carousel-298062"
						data-slide="next"><span
						class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
				<div class="row">
					<div class="col-md-9">
						<div class="jumbotron">
							<h1>¡Bienvenido!</h1>
							<ul>
								<li><p>Esta es una versión beta de la plataforma <strong>Zona de Fics</strong>.</p></li>
								<li><p>Aquí usted podrá buscar y leer los Fanfictions que encuentre gracias a nuestro buscador.</p></li>
								<li><p>Queda invitado para que se registre, y así pueda publicar sus propios Fanfictions.</p></li>
								<li><p>Si encuentra algún detalle, problema, o tiene alguna sugerencia, no dude en conmunicarse al correo:
									<a href="#">contacto.zdf@gmail.com</a>.</p></li>
							</ul>

						</div>
						
					</div>
					<div class="col-md-3">
						<img th:src="@{/images/banner-lateral.png}" class="img-responsive" alt="Zona de Fics"/>
					</div>
				</div>

			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
	
</body>
</html>