<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Mis Fanfictions</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Eliminar Fanfiction</h4>
					</div>
					<div class="modal-body">
						<p>¿Está seguro que desea eliminar el Fanfiction? Con ello eliminará los capítulos, comentarios y puntuaciones asociadas al fanfiction.</p>
						<p><strong class="validation-message">Esta acción no se puede deshacer.</strong></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="eliminar();">Eliminar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>

			</div>
		</div>

		<div class="row contenido">
			<div class="col-md-12">
				<div class="exito" th:if="${mensaje}" th:text="${mensaje}"></div>
				<input type="hidden" id="id"/>
				<div class="row">
					<div class="col-md-12">
						<h1>Mis Fanfictions.</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<form th:action="@{/user/fanfictions}" th:object="${ordenarFanfictionForm}" method="POST" role="form" >
							<div class="row">
								<div class="form-group col-md-4">
									<label for="atributoOrden">Ordenar por: </label>
									<select id="atributoOrden" th:field="*{atributoOrden}" class="form-control selectpicker" >
										<option value="0">Fecha de creación</option>
										<option value="1">Fecha de actualización</option>
										<option value="2">Número de capítulos</option>
										<option value="3">Número de comentarios</option>
										<option value="4">Puntuación promedio</option>
									</select> 
									<label th:if="${#fields.hasErrors('atributoOrden')}" th:errors="*{estado}" class="validation-message col-md-12"></label>
								</div>
								<div class="form-group col-md-4">
									<label for="ordenBusqueda">Orden: </label>
									<select id="ordenBusqueda" th:field="*{ordenBusqueda}" class="form-control  selectpicker" >
										<option value="0">Descendente</option>
										<option value="1">Ascendente</option>
									</select> 
									<label th:if="${#fields.hasErrors('ordenBusqueda')}" th:errors="*{tipo}" class="validation-message col-md-12"></label>
								</div>
								<div class="form-group col-md-4">
									<button type="submit" class="form-group btn btn-primary" >Ordenar</button>
								</div>
							</div>
						
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 fanfiction" th:each="fanfiction : ${fanfictions}">
						<div class="fanfiction-header">
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li  th:each="historia : ${fanfiction.fanfiction.historiaOriginals}" th:text="${historia.nombre} + ' (' + ${historia.categoria.nombre} + ')' +'   '"></li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<p><span  class="lead" th:text="${fanfiction.fanfiction.titulo}"> </span>  <span th:text="'ID: ' + ${fanfiction.fanfiction.idFanfiction}"></span></p>
								</div>
								<div class="col-md-4">
									<a th:href="@{'/user/capitulo/nuevo/' + ${fanfiction.fanfiction.idFanfiction}}" class="btn btn-primary">Nuevo Capítulo</a>
									<a th:href="@{'/user/capitulo/ver/' + ${fanfiction.fanfiction.idFanfiction}}" class="form-group btn btn-primary">Capítulos</a>
									<a th:href="@{'/user/fanfiction/editar/' + ${fanfiction.fanfiction.idFanfiction}}" class="form-group btn btn-primary">Editar</a>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" th:onClick="'confirmar(\''+ ${fanfiction.fanfiction.idFanfiction} +'\');'">Eliminar</button>
								</div>
							</div>
						</div>
						
						<div class="fanfiction-body">
							<div th:utext="${fanfiction.fanfiction.descripcion}"></div>
						</div>
						<div class="fanfiction-footer">
							<div class="row">
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-eye-open"></span> <strong>Clasificación Parental:</strong> <span th:text="${fanfiction.fanfiction.clasificacionParental.nombre}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-comment"></span> <strong>N° comentarios: </strong> <span th:text="${fanfiction.cantidadComentarios}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-star"></span> <strong>Puntuación promedio: </strong> <span th:text="${#numbers.formatDecimal(fanfiction.PromedioPuntuacion,1,1)}"></span></p> 
								</div>
								<div class="col-md-2">
									<p><span class="glyphicon glyphicon-list"></span> <strong>Capítulos:</strong> <span th:text="${fanfiction.fanfiction.capitulos.size()}"></span> </p> 
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Creado el:</strong> <span th:text="${#dates.format(fanfiction.fanfiction.fechaCreacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Actualizado el:</strong> <span th:text="${#dates.format(fanfiction.fanfiction.fechaActualizacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-stats"></span> <strong>Estado:</strong> <span th:text="${fanfiction.fanfiction.estado}"></span> </p> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li><span class="glyphicon glyphicon-record"></span> <strong>Géneros:</strong></li>
									  <li th:each="type : ${fanfiction.fanfiction.generos}" th:text="${type.nombre} + '   '"></li>
									</ul>
								</div>
							</div>
						</div>
					
					</div>
					<div class="col-md-12" th:if="${fanfictions.size()} == 0">
						<H2>No se encontraron resultados.</H2>
						<p align="center"><a th:href="@{/user/fanfiction/nuevo}" class="form-group btn btn-primary">¡Crea un Fanfiction ahora!</a></p>
					</div>
				</div>
				
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		function confirmar(id){
			$('#id').val(id);
		}
		function eliminar(){
			window.location.replace(getContextPath()+"/user/fanfiction/eliminar/" + $('#id').val());
		}
		/*]]>*/
	</script>	
	
</body>
</html>