<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title th:text="${capitulosPublicacion.get(0).capitulo.fanfiction.titulo}"></title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Eliminar Capítulo</h4>
					</div>
					<div class="modal-body">
						<p>¿Está seguro que desea eliminar el Capítulo? Con ello eliminará los comentarios y puntuaciones asociadas al capítulo.</p>
						<p><strong class="validation-message">Esta acción no se puede deshacer.</strong></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="eliminar();">Eliminar</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>

			</div>
		</div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<div class="exito" th:if="${mensaje}" th:text="${mensaje}"></div>
				<div th:if="${mensajeError}"><strong th:text="${mensajeError}" class="validation-message"></strong></div>
				<input type="hidden" id="id"/>
				<div class="row">
					<div class="col-md-12">
						<h1 th:text="${capitulosPublicacion.get(0).capitulo.fanfiction.titulo}"></h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 fanfiction"  th:each="capituloPublicacion : ${capitulosPublicacion}">
						<div class="fanfiction-footer">
							<div class="row">
								<div class="col-md-6">
									<p><span class="lead" th:text="${capituloPublicacion.capitulo.numero} + '.- ' +  ${capituloPublicacion.capitulo.titulo}"></span> </p>
								</div>
								<div class="col-md-6">
									<a th:href="@{'/user/capitulo/editar/' + ${capituloPublicacion.capitulo.idCapitulo}}" class="form-group btn btn-primary">Editar</a>
									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" th:onClick="'confirmar(\''+ ${capituloPublicacion.capitulo.idCapitulo} +'\');'">Eliminar</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Creado el:</strong> <span th:text="${#dates.format(capituloPublicacion.capitulo.fechaPublicacion, 'dd-MM-yyyy')}"></span></p>
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Actualizado el:</strong> <span th:text="${#dates.format(capituloPublicacion.capitulo.fechaActualizacion, 'dd-MM-yyyy')}"></span></p>
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-comment"></span> <strong>N° comentarios:</strong> <span th:text="${capituloPublicacion.cantidadComentarios}"></span></p>
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-star"></span> <strong>Puntuación promedio:</strong> <span th:text="${#numbers.formatDecimal(capituloPublicacion.promedioPuntuacion,1,1)}"></span></p>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		function confirmar(id){
			$('#id').val(id);
		}
		function eliminar(){
			window.location.replace(getContextPath()+"/user/capitulo/eliminar/" + $('#id').val());
		}
		/*]]>*/
	</script>	
	
</body>
</html>
