<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Inicio de sesión.</title>
</head>
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h1>Inicio de sesión.</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="exito" th:if="${mensajeExito}" th:text="${mensajeExito}"></div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<form th:action="@{/login}" method="POST" role="form" onsubmit="return validacion()">
							<div class="row">
								<div class="form-group col-md-12">
									<label for="correo">Correo: </label>
									<input type="text" id="correo" name="correo" class="form-control"/> 
									<label id="error-correo" class="validation-message error col-md-12">El correo está vacío.</label>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<label for="clave">Contraseña: </label>
									<input type="password" id="clave" name="clave" class="form-control"/> 
									<label id="error-clave" class="validation-message error col-md-12">La contraseña está vacía.</label>
								</div>
							</div>
							<label class="validation-message col-md-12" th:if="${param.error}">Usuario o contraseña erróneos. Si no ha activado su cuenta, debe ingresar a través del enlace enviado a su correo.</label>
							<div class="row">
								<div class="form-group col-md-12">
									<button type="submit" class="form-group btn btn-primary" >Ingresar</button>
									<a th:href="@{/}" class="form-group btn btn-default">Volver</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<a th:href="@{/recuperar}" class="form-group">¿Olvidó su contraseña?</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('.error').hide();
			
			
		});
		function validacion(){
			$('.error').hide();
			var correo = $('#correo').val();
			var valid = true;
			if(correo == null || correo.length == 0){
				$('#error-correo').show();
				valid = false;
			}
			var clave = $('#clave').val();
			if(clave == null || clave.length == 0){
				$('#error-clave').show();
				valid = false;
			}
			return valid;
			
		}
	</script>
</body>
</html>
