<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Nueva Historia Original</title>
</head>
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h1>Nueva Historia Original.</h1>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<div class="row">
							<div class="col-md-12">
								<div class="exito" th:if="${mensajeExito}" th:text="${mensajeExito}"></div>
							</div>
						</div>
						<form th:action="@{/admin/agregarHistoriaOriginal}" th:object="${historiaOriginalForm}" method="POST" role="form" onsubmit="return validacion()">
							<div class="form-group col-md-12">
								<label for="titulo">Título: </label>
								<input type="text" id="nombre" th:field="*{nombre}" class="form-control" maxlength="45"/> 
								<label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message col-md-12"></label>
								<label id="error-nombre" class="validation-message error col-md-12">Por favor, ingrese el título de la historia.</label>
							</div>
							<div class="form-group col-md-12">
								<label for="categoria">Categoría: </label>
								<select id="categoria" th:field="*{categoria}" class="form-control selectpicker">
									<option value="-1" selected="selected">Seleccione una categoría</option>
									<option th:each="type : ${categorias}" 
								          th:value="${type.idCategoria}" 
								          th:text="${type.nombre}"></option>
								</select>
								<label th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}" class="validation-message col-md-12"></label>
								<label id="error-categoria" class="validation-message error col-md-12">Por favor, seleccione una categoría.</label>
							</div>
							<div class="row">
								<div class="form-group col-md-12">
									<button type="submit" class="form-group btn btn-primary" >Crear Historia Original</button>
									<a th:href="@{/admin/home}" class="form-group btn btn-default">Volver</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('.error').hide();
			
			
		});
		function validacion(){
			$('.error').hide();
			var nombre = $('#nombre').val();
			var valid = true;
			if(nombre == ''){
				$('#error-nombre').show();
				valid = false;
			}
			var categoria = $('#categoria').val();
			if(categoria == '-1'){
				$('#error-categoria').show();
				valid = false;
			}
			return valid;
			
		}
	</script>
</body>
</html>
