<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Nuevo Fanfiction</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<h1>Nuevo Fanfiction.</h1>
				<form th:action="@{/user/fanfiction/nuevo}" th:object="${fanfictionForm}" method="POST" role="form" onsubmit="return validacion()">
					<fieldset><legend>Crear un nuevo fanfiction.</legend>
						<div class="row">
							<div class="form-group col-md-12">
								<label for="titulo">Título (*): </label>
								<input type="text" id="titulo" th:field="*{titulo}" class="form-control" maxlength="45"/> 
								<label th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"
										class="validation-message col-md-12"></label>
								<label id="error-titulo" class="validation-message error">Por favor, ingrese un título para su fanfiction.</label> 
							</div>
						</div>
						<div class="row">
							<div class="form-group  col-md-12">
								<label for="descripcion">Sinopsis (*) (Máximo 2000 caracteres): </label>
								<textarea id="descripcion" th:field="*{descripcion}" rows="10" class="form-control"  maxlength="2000"></textarea>
								<div class="text-muted">Sea claro y preciso sobre de qué se trata su historia.</div>
								<label th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"
										class="validation-message col-md-12"></label>
								<label id="error-descripcion" class="validation-message error col-md-12">Por favor, ingrese una sinopsis para su fanfiction.</label> 
							</div>
						</div>
						<div class="row">
							<div class="modal fade" id="historiaOriginalInfo" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Historia Original.</h4>
										</div>
										<div class="modal-body">
											<p>Si no encuentra la historia original sobre la cual se basa su Fanfiction en la lista ofrecida, 
											envíe un correo a <a href="#">contacto.zdf@gmail.com </a> contándonos cuál historia desea agregar y
											de qué se trata, y rápidamente la agregaremos a la lista.</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="historiaOriginal">Historias originales (*):  <a href="#"><small data-toggle="modal" data-target="#historiaOriginalInfo">No encuentro la historia que busco.</small></a></label>
								<select id="historiaOriginal" th:field="*{historiasOriginales}" class="form-control selectpicker" multiple="multiple" data-live-search="true" title="Seleccione una opción">
									<option th:each="type : ${historiasOriginales}" 
								          th:value="${type.idHistoriaOriginal}" 
								          th:text="${type.nombre} + ' (' + ${type.categoria.nombre} + ')'"></option>
								</select>
								<label th:if="${#fields.hasErrors('historiasOriginales')}" th:errors="*{historiasOriginales}" class="validation-message col-md-12"></label>
								<label id="error-historiaOriginal" class="validation-message error col-md-12">Por favor, seleccione al menos una historia original.</label> 
							</div>
							<div class="form-group col-md-6">
								<label for="genero">Géneros (*): </label>
								<select id="genero" th:field="*{generos}" class="form-control selectpicker" multiple="multiple"  title="Seleccione una opción">
									<option th:each="type : ${generos}" 
								          th:value="${type.idGenero}" 
								          th:text="${type.nombre}"></option>
								</select>
								<label th:if="${#fields.hasErrors('generos')}" th:errors="*{generos}" class="validation-message col-md-12"></label>
								<label id="error-genero" class="validation-message error col-md-12">Por favor, seleccione al menos un género.</label>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label for="estado">Estado (*): </label>
								<select id="estado" th:field="*{estado}" class="form-control selectpicker" >
									<option value="Incompleto">Incompleto</option>
									<option value="Terminado">Terminado</option>
								</select> 
							</div>
							<div class="form-group col-md-6">
								<label for="clasificacionParental">Clasificación parental (*): <span data-toggle="modal" data-target="#clasificacionParentalInfo"  class="glyphicon glyphicon-question-sign "></span></label>
								<select id="clasificacionParental" th:field="*{clasificacionParental}" class="form-control selectpicker" >
									<option th:each="type : ${clasificacionesParentales}" 
								          th:value="${type.idClasificacionParental}" 
								          th:text="${type.nombre}"></option>
								</select> 
							</div>
							<div class="modal fade" id="clasificacionParentalInfo" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">Clasificación parental.</h4>
										</div>
										<div class="modal-body">
											<dl>
												<dt>K (5+): </dt><dd>Destinado a una audiencia general de 5 años en adelante. El contenido debe estar libre de lenguaje burdo, violencia y temas adultos.</dd>
												<dt>K+ (9+): </dt><dd>Adecuado para niños más maduros, de 9 años en adelante, con poca violencia de acción sin lesiones graves. Puede contener lenguaje tosco y leve. No debe contener ningún tema para adultos.</dd>
												<dt>T (13+): </dt><dd>Adecuado para adolescentes de 13 años o más, con algo de violencia, lenguaje grosero menor y temas sugestivos menores para adultos.</dd>
												<dt>M (16+): </dt><dd>No apto para niños o adolescentes menores de 16 años con temas adultos sugestivos no explícitos, referencias a violencia o lenguaje burdo.</dd>
												<dt>MA (18+): </dt><dd>El contenido solo es adecuado para adultos maduros. Puede contener lenguaje explícito y temas para adultos.</dd>
											</dl>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</fieldset>
					<fieldset><legend>Crear el primer capítulo.</legend>
						<div class="row">
							<div class="form-group col-md-12">
								<label for="tituloCapitulo">Capítulo 1 (*): </label>
								<input type="text" id="tituloCapitulo" th:field="*{tituloCapitulo}" class="form-control" maxlength="45"/> 
								<label th:if="${#fields.hasErrors('tituloCapitulo')}" th:errors="*{tituloCapitulo}"	class="validation-message col-md-12"></label>
								<label id="error-tituloCapitulo" class="validation-message error col-md-12">Por favor, ingrese un título para el primer capítulo.</label> 
							</div>
						</div>
						<div class="row">
							<div class="form-group  col-md-12">
								<label for="contenido">Contenido (*): </label>
								<textarea id="contenido" th:field="*{contenido}" rows="30" class="form-control"></textarea>
								<label th:if="${#fields.hasErrors('contenido')}" th:errors="*{contenido}" class="validation-message col-md-12"></label>
								<label id="error-contenido"	class="validation-message error col-md-12">Por favor, ingrese el contenido del capítulo.</label> 
							</div>
						</div>
					</fieldset>
					<div class="row">
						<div class="text-muted  col-md-4 col-md-offset-4">* Parámetros obligatorios.</div>
						<div class=" col-md-4 col-md-offset-4">
							<button type="submit" class="form-group btn btn-primary" >Crear Fanfiction</button>
							<a th:href="@{/user/home}" class="form-group btn btn-default">Volver</a>
						</div>
					</div>
					
							
				</form>
					
						
			</div>
			
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			$('.error').hide();		
		});
		function validacion(){
			var valid = true;
			var focus = false;
			$('.error').hide();
			if($('#titulo').val() == ''){
				$('#error-titulo').show();
				valid = false;
				if (!focus){
					$('#titulo').focus();
					focus = true;
				}
			}
			if($('#descripcion').val() == ''){
				$('#error-descripcion').show();
				valid = false;
				if (!focus){
					$('#descripcion').focus();
					focus = true;
				}
			}
			if($('#historiaOriginal').val().length < 1){
				$('#error-historiaOriginal').show();
				valid = false;
				if (!focus){
					$('#historiaOriginal').data('selectpicker').$button.focus();
					focus = true;
				}
			}
			if($('#genero').val().length < 1){
				$('#error-genero').show();
				valid = false;
				if (!focus){
					$('#historiaOriginal').data('selectpicker').$button.focus();
					focus = true;
				}
			}
			if($('#tituloCapitulo').val() == ''){
				$('#error-tituloCapitulo').show();
				valid = false;
				if (!focus){
					$('#tituloCapitulo').focus();
					focus = true;
				}
			}
			if($('#contenido').val() == ''){
				$('#error-contenido').show();
				valid = false;
				if (!focus){
					$('#contenido').focus();
					focus = true;
				}
			}
			
			return valid;
		}
		/*]]>*/
	</script>
</body>
</html>
