<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title th:text="${usuario.nombre}"></title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		<div class="modal fade" id="denunciarUsuario" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Denunciar Usuario.</h4>
					</div>
					<div class="modal-body">
						<p>Si usted cree que este usuario incumple nuestros <a th:href="@{'/condiciones'}">términos y condiciones</a>, envíe un correo a <a href="#">contacto.zdf@gmail.com</a> indicando:</p>
						<ul>
							<li>Id del usuario.</li>
							<li>Motivo por el cual cree que incumple los términos y condiciones.</li>
						</ul>
						<p>Si el usuario tiene méritos para ser eliminado, la administración se encargará de ello.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12 fanfiction">
						<div class="row fanfiction-header">
							<div class="row">
								<div class="col-md-10">
									<h1><span th:text="${usuario.nombre}"></span> <span  class="lead" th:text="'ID: '+${usuario.idUsuario}"></span></h1>
								</div>
								<div class="col-md-2">
									<button class="btn btn-primary" data-toggle="modal" data-target="#denunciarUsuario"  >Denunciar</button>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Fecha de creación de la cuenta:</strong> <span th:text="${#dates.format(usuario.fechaCreacion, 'dd-MM-yyyy')}"></span></p>
									
								</div>
								<div class="col-md-6">
									<p><span class="glyphicon glyphicon-book"></span> <strong>Fanfictions publicados: </strong> <span th:text="${fanfictions.size()}"></span></p>
								</div>
							</div>
						</div>
						<div class="row fanfiction-body">
							<div class="col-md-12" th:utext="${usuario.descripcion}"></div>
						</div>
						
					</div>
				</div>
				
				<div class="row" th:if="${fanfictions.size()} > 0">
					<h1>Fanfictions publicados.</h1>
					<div class="col-md-12 fanfiction" th:each="fanfiction : ${fanfictions}">
						<div class="fanfiction-header">
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li th:each="historia : ${fanfiction.fanfiction.historiaOriginals}" th:text="${historia.nombre} + ' (' + ${historia.categoria.nombre} + ')' +'   '"></li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<p> <a th:href="@{'/fanfiction/mostrar/' + ${fanfiction.fanfiction.idFanfiction} + '/1'}"><span  class="lead" th:text="${fanfiction.fanfiction.titulo}"> </span> </a> <span th:text="'ID: ' + ${fanfiction.fanfiction.idFanfiction}"></span></p>
								</div>
								
							</div>
						</div>
						
						<div class="fanfiction-body">
							<div th:utext="${fanfiction.fanfiction.descripcion}"></div>
						</div>
						<div class="fanfiction-footer">
							<div class="row">
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-eye-open"></span> <strong>Clasificación Parental:</strong> <span th:text="${fanfiction.fanfiction.clasificacionParental.nombre}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-comment"></span> <strong>N° comentarios: </strong> <span th:text="${fanfiction.cantidadComentarios}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-star"></span> <strong>Puntuación promedio: </strong> <span th:text="${#numbers.formatDecimal(fanfiction.PromedioPuntuacion,1,1)}"></span></p> 
								</div>
								<div class="col-md-2">
									<p><span class="glyphicon glyphicon-list"></span> <strong>Capítulos:</strong> <span th:text="${fanfiction.fanfiction.capitulos.size()}"></span> </p> 
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Creado el:</strong> <span th:text="${#dates.format(fanfiction.fanfiction.fechaCreacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Actualizado el:</strong> <span th:text="${#dates.format(fanfiction.fanfiction.fechaActualizacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-stats"></span> <strong>Estado:</strong> <span th:text="${fanfiction.fanfiction.estado}"></span> </p> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li><span class="glyphicon glyphicon-record"></span> <strong>Géneros:</strong></li>
									  <li th:each="type : ${fanfiction.fanfiction.generos}" th:text="${type.nombre} + '   '"></li>
									</ul>
								</div>
							</div>
						</div>
					
					</div>
					
				</div>
				
			</div>
			<div class="col-md-3 publicidad">
				<img th:src="@{/images/publicidad.png}" class="img-responsive" alt="Publicidad"/>
			</div>
			 
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	
</body>
</html>
