<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Recuperar contraseña</title>
</head>
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<h1>Recuperar contraseña.</h1>
					</div>
				</div>
				<div class="row">
					<label class="exito col-md-12" th:if="${mensajeExito}" th:text="${mensajeExito}"></label>
					<label class="validation-message col-md-12" th:if="${mensajeError}" th:text="${mensajeError}"></label>
				</div>
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<form th:action="@{/recuperar}" th:object="${correoForm}" method="POST" role="form" onsubmit="return validacion()">
							<div class="row">	
								<div class="form-group col-md-12">
									<label for="correo">Correo (*): </label>
									<input type="text" id="correo" th:field="*{correo}" class="form-control" maxlength="45"/> 
									<label th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" class="validation-message col-md-12"></label>
									<label id="error-correo" class="validation-message error col-md-12">Por favor, ingrese su correo.</label> 
								</div>
							</div>
							<input type="hidden" id="path" th:field="*{path}"/>
							<div class="row">
								<div class="form-group col-md-12">
									<button type="submit" class="form-group btn btn-primary" >Enviar correo de recuperación</button>
									<a th:href="@{/login}" class="form-group btn btn-default">Volver</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			$('.error').hide();		
		});
		function validacion(){
			var valid = true;
			if($('#correo').val() == ''){
				$('#error-correo').show();
				valid = false;
			}
			if(valid){
				$('#path').val(getFullPath());
			}
			return valid;
			
		}
		/*]]>*/
	</script>
</body>
</html>
