<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Registro de usuario</title>
</head>

<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		
		<div th:replace="fragments :: header"></div>
		
		<div class="row contenido">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-12">
						<h1>Registro de usuario</h1>
					</div>
				</div>
				<div class="row">
					<label class="exito col-md-12" th:if="${mensajeExito}" th:text="${mensajeExito}"></label>
					<label class="validation-message col-md-12" th:if="${mensajeError}" th:text="${mensajeError}"></label>
				</div>
				<form th:action="@{/registro}" th:object="${registroForm}" method="POST" role="form" onsubmit="return validacion()">
					<div class="row">	
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="nombre">Nombre de usuario (*): </label>
							<input type="text" id="nombre" th:field="*{nombre}" class="form-control" maxlength="45"/> 
							<div class="text-muted">Ingrese un nombre que no esté registrado.</div>
							<label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message col-md-12"></label>
							<label id="error-nombre" class="validation-message error col-md-12">Por favor, ingrese su nombre de usuario.</label> 
						</div>	
					</div>
					<div class="row">	
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="correo">Correo (*): </label>
							<input type="text" id="correo" th:field="*{correo}" class="form-control" maxlength="45"/> 
							<div class="text-muted">Asegúrese que su correo no se encuentre registrado.</div>
							<label th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}" class="validation-message col-md-12"></label>
							<label id="error-correo" class="validation-message error col-md-12">Por favor, ingrese su correo.</label> 
						</div>
					</div>
					<div class="row">					
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="clave">Contraseña (*): </label>
							<input type="password" id="clave" th:field="*{clave}" class="form-control"/>
							<div class="text-muted">Su contraseña debe tener al menos 8 caracteres.</div>
							<label th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}" class="validation-message col-md-12"></label>
							<label id="error-clave"	class="validation-message error col-md-12">Su contraseña debe ser de al menos 8 caracteres.</label>
						</div>
					</div>
					<div class="row">	
						<div class="form-group col-md-6 col-md-offset-3">
							<label for="clave2">Repita contraseña (*): </label>
							<input type="password" id="clave2" th:field="*{clave2}"  class="form-control"/> 
							<label th:if="${#fields.hasErrors('clave2')}" th:errors="*{clave2}"	class="validation-message col-md-12"></label>
							<label id="error-clave2" class="validation-message error col-md-12">Las contraseñas no coinciden.</label>
							<label id="error-clave3" class="validation-message error col-md-12">Por favor, repita su contraseña.</label>
						</div>
					</div>
					<div class="row">	
						<div class="form-group  col-md-12">
							<label for="descripcion">Descripción: </label>
							<textarea class="form-control" id="descripcion" th:field="*{descripcion}" rows="10"></textarea>
						</div>
					</div>
					<div class="row">	
						<div class="form-group  col-md-12">
							<input type="checkbox" id="acepto"/><label for="acepto">Acepto los <a th:href="@{'/condiciones'}">Términos y condiciones.</a> </label>
							<label id="error-acepto" class="validation-message error col-md-12">Acepte los términos y condiciones.</label>
						</div>
					</div>
					<input type="hidden" id="path" th:field="*{path}"/>
					<div class="row">
						<div class="text-muted col-md-4 col-md-offset-4">* Parámetros obligatorios.</div>
						<div class=" col-md-4 col-md-offset-4">
							<button type="submit" class="form-group btn btn-primary" >Registrarse</button>
							<a th:href="@{/}" class="form-group btn btn-default">Volver</a>
						</div>
					</div>
				</form>
					
			</div>
			<div class="col-md-3 publicidad">
				<img th:src="@{/images/publicidad.png}" class="img-responsive" alt="Publicidad"/>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			$('.error').hide();		
		});
		function validacion(){
			var valid = true;
			var focus = false;
			$('.error').hide();
			if($('#nombre').val() == ''){
				$('#error-nombre').show();
				valid = false;
				if (!focus){
					$('#nombre').focus();
					focus = true;
				}
			}
			if($('#correo').val() == ''){
				$('#error-correo').show();
				valid = false;
				if (!focus){
					$('#correo').focus();
					focus = true;
				}
			}
			if($('#clave').val().length < 8){
				$('#error-clave').show();
				valid = false;
				if (!focus){
					$('#clave').focus();
					focus = true;
				}
			}
			if($('#clave2').val() == ''){
				$('#error-clave3').show();
				valid = false;
				if (!focus){
					$('#clave2').focus();
					focus = true;
				}
			}
			if($('#clave').val().localeCompare($('#clave2').val()) != 0){
				$('#error-clave2').show();
				valid = false;
				if (!focus){
					$('#clave').focus();
					focus = true;
				}
			}
			if(!$('#acepto').is(':checked') ){
				$('#error-acepto').show();
				valid = false;
				if (!focus){
					$('#acepto').focus();
					focus = true;
				}
			}
			
			if(valid){
				$('#path').val(getFullPath());
			}
			return valid;
			
		}
		/*]]>*/
	</script>
</body>
</html>