<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Resultado de la búsqueda</title>
</head>
	
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		<div class="modal fade" id="denunciarFanfiction" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Denunciar Fanfiction.</h4>
					</div>
					<div class="modal-body">
						<p>Si usted cree que este Fanfiction incumple nuestros <a th:href="@{'/condiciones'}">términos y condiciones</a>, envíe un correo a <a href="#">contacto.zdf@gmail.com</a> indicando:</p>
						<ul>
							<li>Id del Fanfiction.</li>
							<li>Motivo por el cual cree que incumple los términos y condiciones.</li>
						</ul>
						<p>Si el fanfiction tiene méritos para ser eliminado, la administración se encargará de ello.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: header"></div>
		<div class="row contenido">
			<div class="col-md-9">
				
				<div class="row">
					<div class="col-md-12">
						<h1>Resultado de la búsqueda.</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<form th:action="@{/fanfiction/resultado}" th:object="${busquedaForm}" method="POST" role="form" >
							<input type="hidden" id="titulo" th:field="*{titulo}" /> 
							<input type="hidden" id="autor" th:field="*{autor}" /> 
							<input type="hidden" id="inicioCreacion" th:field="*{inicioCreacion}" /> 
							<input type="hidden" id="finCreacion" th:field="*{finCreacion}" /> 
							<input type="hidden" id="inicioPublicacion" th:field="*{inicioPublicacion}" /> 
							<input type="hidden" id="finPublicacion" th:field="*{finPublicacion}" /> 
							<input type="hidden" id="comentarioMinimo" th:field="*{comentarioMinimo}" /> 
							<input type="hidden" id="comentarioMaximo" th:field="*{comentarioMaximo}" /> 
							<input type="hidden" id="capituloMinimo" th:field="*{capituloMinimo}" /> 
							<input type="hidden" id="capituloMaximo" th:field="*{capituloMaximo}" /> 
							<input type="hidden" id="puntuacionMinimo" th:field="*{puntuacionMinimo}" /> 
							<input type="hidden" id="genero" th:field="*{genero}" /> 
							<input type="hidden" id="clasificacionParental" th:field="*{clasificacionParental}" />
							<input type="hidden" id="categoria" th:field="*{categoria}" />
							<input type="hidden" id="historiaOriginal" th:field="*{historiaOriginal}" />
							<input type="hidden" id="estado" th:field="*{estado}" />
							<input type="hidden" id="tipo" th:field="*{tipo}" />	
							<div class="row">
								<div class="form-group col-md-4">
									<label for="atributoOrden">Ordenar por: </label>
									<select id="atributoOrden" th:field="*{atributoOrden}" class="form-control selectpicker" >
										<option value="0">Fecha de actualización</option>
										<option value="1">Fecha de creación</option>
										<option value="2">Número de capítulos</option>
										<option value="3">Número de comentarios</option>
										<option value="4">Puntuación promedio</option>
									</select> 
									<label th:if="${#fields.hasErrors('atributoOrden')}" th:errors="*{estado}" class="validation-message col-md-12"></label>
								</div>
								<div class="form-group col-md-4">
									<label for="ordenBusqueda">Orden: </label>
									<select id="ordenBusqueda" th:field="*{ordenBusqueda}" class="form-control  selectpicker" >
										<option value="0">Descendente</option>
										<option value="1">Ascendente</option>
									</select> 
									<label th:if="${#fields.hasErrors('ordenBusqueda')}" th:errors="*{tipo}" class="validation-message col-md-12"></label>
								</div>
								<div class="form-group col-md-4">
									
									<button type="submit" class="form-group btn btn-primary " >Ordenar</button>
								</div>
							</div>
						
						</form>
					</div>
				</div>
				<div class="row">
				
					<div class="col-md-12 fanfiction" th:each="fanfiction : ${fanfictions}">
						<div class="fanfiction-header">
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li  th:each="historia : ${fanfiction.fanfiction.historiaOriginals}" th:text="${historia.nombre} + ' (' + ${historia.categoria.nombre} + ')' +'   '"></li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7">
									<p> <a target="_blank" th:href="@{'/fanfiction/mostrar/' + ${fanfiction.fanfiction.idFanfiction} + '/1'}"><span  class="lead" th:text="${fanfiction.fanfiction.titulo}"> </span> </a> <span th:text="'ID: ' + ${fanfiction.fanfiction.idFanfiction}"></span></p>
								</div>
								<div class="col-md-2">
									<button class="btn btn-primary" data-toggle="modal" data-target="#denunciarFanfiction"  >Denunciar</button>
								</div>
								<div class="col-md-3">
									<p class="lead"><a  target="_blank" th:href="@{'/fanfiction/perfilUsuario/' + ${fanfiction.fanfiction.usuario.idUsuario}}">
										<span class="glyphicon glyphicon-user"></span> <span th:text="${fanfiction.fanfiction.usuario.nombre}"></span>
									</a></p>
								</div>
							</div>
						</div>
						
						<div class="fanfiction-body">
							<div th:utext="${fanfiction.fanfiction.descripcion}"></div>
						</div>
						<div class="fanfiction-footer">
							<div class="row">
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-eye-open"></span> <strong>Clasificación Parental:</strong> <span th:text="${fanfiction.fanfiction.clasificacionParental.nombre}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-comment"></span> <strong>N° comentarios: </strong> <span th:text="${fanfiction.cantidadComentarios}"></span></p> 
								</div>
								<div class="col-md-3">
									<p><span class="glyphicon glyphicon-star"></span> <strong>Puntuación promedio: </strong> <span th:text="${#numbers.formatDecimal(fanfiction.PromedioPuntuacion,1,1)}"></span></p> 
								</div>
								<div class="col-md-2">
									<p><span class="glyphicon glyphicon-list"></span> <strong>Capítulos:</strong> <span th:text="${fanfiction.fanfiction.capitulos.size()}"></span> </p> 
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Creado el:</strong> <span th:text="${#dates.format(fanfiction.fanfiction.fechaCreacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-calendar"></span> <strong>Actualizado el:</strong> <span th:text="${#dates.format(fanfiction.fanfiction.fechaActualizacion, 'dd-MM-yyyy')}"></span> </p> 
								</div>
								<div class="col-md-4">
									<p><span class="glyphicon glyphicon-stats"></span> <strong>Estado:</strong> <span th:text="${fanfiction.fanfiction.estado}"></span> </p> 
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<ul class="list-inline">
									  <li><span class="glyphicon glyphicon-record"></span> <strong>Géneros:</strong></li>
									  <li th:each="type : ${fanfiction.fanfiction.generos}" th:text="${type.nombre} + '   '"></li>
									</ul>
								</div>
							</div>
						</div>
					
					</div>
					<div class="col-md-12" th:if="${fanfictions.size()} == 0">
						<H2>No se encontraron resultados.</H2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-2">
						<img th:src="@{/images/publicidad-2.png}" class="img-responsive" alt="Publicidad"/>
					</div>
				</div>
			</div>
			<div class="col-md-3 publicidad">
				<img th:src="@{/images/publicidad.png}" class="img-responsive" alt="Publicidad"/>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>
		
	
</body>
</html>