<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Términos y condiciones</title>
</head>

<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		<div th:replace="fragments :: header"></div>	
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<h1>Términos y condiciones.</h1>
					<ol>
						<li>Al hacer click en la casilla “Acepto los términos y condiciones” al minuto de registrarse, 
						un usuario acepta conocer y acatar los términos y condiciones aquí presentadas. El desconocer este 
						reglamento o no leerlo, no lo deja exento de cumplirlo.</li>
						<li>Zona De Fics se guarda el derecho de eliminar cualquier Fanfiction, cuenta de Usuario o 
						Comentarios que incumplan con el reglamento aquí estipulado.</li>
						<li>Zona de Fics eliminará cualquier contenido subido a la plataforma que involucre lo siguiente:</li>
						<ol>
							<li>Spam o publicidad de cualquier producto o servicio albergado tanto dentro como fuera de la plataforma.</li>
							<li>Humillaciones, burlas o amenazas de cualquier índole contra una persona en particular o contra un grupo de personas, 
							independiente de la causa, el motivo o la gravedad.</li>
							<li>Amenazas de autolesión o suicidio.</li>
							<li>Fomento directo y real de violencia contra animales o personas de una raza, religión, 
							sexo, grupo étnico, creencia o agrupación.</li>
							<li>Se encuentre relacionado con algún hecho ilícito.</li>
						</ol>
						<li>Zona de Fics prohíbe en su plataforma los Fanfictions que incumplen con lo siguiente:</li>
						<ol>
							<li>Ser un plagio de un Fanfiction publicado en esta plataforma o en otra plataforma, blog, foro, 
							red social, sitio Web o en cualquier otro medio físico o audiovisual.</li>
							<li>No ser un Fanfiction en su definición.</li>
							<li>Encontrarse duplicado dentro de la misma cuenta de usuario.</li>
							<li>Tener capítulos repetidos dentro de la misma historia.</li>
							<li>Estar escritos en otro idioma que no sea español.</li>
							<li>Tener capítulos que sean notas de autor o cualquier otro contenido que no aporte al avance de la historia.</li>
							<li>Tener excesivas faltas ortográficas, gramaticales, o estar escrito en formato script, chat o guion.</li>
							<li>Estar mal clasificada con respecto a su clasificación parental.</li>
							<li>Incumplir con cualquiera de las reglas estipuladas en el punto 3.</li>
							<li>Estar basado en alguna obra de alguno de los siguientes autores:</li>
							<ul>
								<li>Anne Rice </li>
								<li>Archie comics </li>
								<li>Dennis L. McKiernan </li>
								<li>Irene Radford </li>
								<li>J.R. Ward </li>
								<li>Laurell K. Hamilton </li>
								<li>Nora Roberts/J.D. Robb </li>
								<li>P.N. Elrod </li>
								<li>Raymond Feist </li>
								<li>Robin Hobb </li>
								<li>Robin McKinley </li>
								<li>Terry Goodkind 	</li>					
							</ul>
						</ol>
						<li>El incumplimiento del punto 4 conllevará a la eliminación inmediata del Fanfiction.</li>
						<li>Zona de Fics eliminará cualquier comentario que  incumpla con el punto 3.</li>
						<li>Las cuentas de usuarios son únicas e intransferibles. Cualquier sospecha o denuncia que se tenga respecto a 
						cuentas utilizadas por dos o más personas o personas con dos cuentas diferentes dentro de la plataforma, será 
						inmediatamente eliminada.</li>
						<li>Los usuarios que incumplan en reiteradas ocasiones el punto 3 o 4, se verán afectados con la eliminación 
						inmediata de su cuenta en conjunto con todo su trabajo allí publicado.</li>
						<li>Los usuarios son responsables de toda la actividad realizada en su cuenta. Zona de Fics no se hace responsable 
						de las consecuencias generadas a raíz de cualquier actividad realizada por el usuario dentro de la plataforma. </li>
						<li>Los usuarios son responsables de la seguridad de su cuenta y la confidencialidad de su contraseña. 
						Zona de Fics no se hace responsable por la pérdida de su cuenta o de cualquier contenido que decidieron eliminar.</li>
						<li>Los usuarios tienen el poder de denunciar cualquier fanfiction enviando un correo a <a href="#">contacto.zdf@gmail.com</a>, 
						indicando el motivo de su denuncia, la evidencia suficiente y el contenido implicado.</li>
						<li>Las denuncias que no tengan justificación o no contengan la información completa no serán consideradas.</li>
					</ol>
					<p>Última actualización: 29/12/2017.</p>
				</div>
			</div>
		</div>
		<div th:replace="fragments :: footer"></div>			
	</div>
	<div th:replace="fragments :: scripts"></div>
</body>
</html>