<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description"
		content="Es una página para crear, buscar y leer fanfictions."/>
	<meta name="author" content="mmunocan"/>
	<link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  	<title>Zona de Fics</title>
</head>
<body>
	<div th:replace="fragments :: css"></div>
	<div class="container-fluid">
		<div th:replace="fragments :: header"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="exito" th:if="${mensaje}" th:text="${mensaje}"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				<div class="jumbotron">
					<h1 th:text="'¡Bienvenido(a) '+${nombreUsuario}+'!'"></h1>
					<ul>
						<li><p>Usted se encuentra dentro de la cuenta de usurio de <strong>Zona de Fics</strong>.</p></li>
						<li><p>Usted aquí tendrá las siguientes funciones adicionales:</p></li>
						<ul>
							<li><p>Publicar/ editar/ eliminar/ actualizar sus propios Fanfictions.</p></li>
							<li><p>Publicar/ editar/ eliminar los capítulos.</p></li>
							<li><p>Acceder a su historial de lecturas, comentarios y puntuaciones con toda la actividad 
								que ha realizado en la plataforma.</p></li>
							<li><p>Comentar y/o entregar una puntuación a los Fanfictions que encuentre.</p></li>
						</ul>
						<li><p>Si encuentra algún detalle, problema, o tiene alguna sugerencia, no dude en conmunicarse al correo:
									<a href="#">contacto.zdf@gmail.com</a>.</p></li>
					</ul>

				</div>
			</div>
			<div class="col-md-3">
				<img th:src="@{/images/banner-lateral.png}" class="img-responsive" alt="Zona de Fics"/>
			</div>
		</div>
		
		<div th:replace="fragments :: footer"></div>
		
	</div>
	<div th:replace="fragments :: scripts"></div>

</body>
</html>